.website__article {
  background-image: 
  url("../images/article__background-green.svg"),
  url("../images/article__background-blue.svg");
  background-repeat: no-repeat;
  background-position: 
  right calc(50% + 700px) top 100px,
  right calc(50% + 600px) top -70px;

  &-heading {
    text-align: center;
    margin-bottom: 42px;

    > hr {
      margin: 0 auto;
      margin-bottom: 8px;
    }
    > h2 {
      margin: 12px 0 24px 0;
      text-transform: capitalize;
      line-height: 40px;
    }
    > a {
      width: 118px;
      height: 46px;
      margin: 0 auto;
    }
  }
  .article {
    display: flex;
    align-items: flex-start;
    width: 100%;
    justify-content: space-between;

    &__content {
      width: 48%;

      .article__info {
        display: flex;
        align-items: center;
        margin-bottom: 40px;
        
        &-item {
          margin-left: 32px;
          &__heading {
            display: flex;
            align-items: center;
            margin-bottom: 12px;
            > span {
              width: 32px;
              height: 32px;
              margin-right: 16px;
            }
            > h4 {
              margin: 0;
              color: $blueBlack;
              font-weight: 400;
            }
          }
          &__text {
            font-size: $font-xsm;
            font-weight: 500;
            line-height: 32px;
            color: $darkBlue;
            text-transform: capitalize;
          }
          &__time {
            display: flex;
            align-items: center;
            margin-top: 16px;
            > img {
              margin-right: 12px;
            }
          }
        }
      }
    }
    
    &__img {
      width: 48%;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 40px;
      &-img {
        text-align: right;
        > img {
          width: 100%;
          height: auto;
        }
      }
      &-item {
        margin-top: 24px;
        &__heading {
          display: flex;
          align-items: center;
          margin-bottom: 12px;
          > span {
            width: 32px;
            height: 32px;
            margin-right: 16px;
          }
          > h4 {
            margin: 0;
            color: $blueBlack;
            font-weight: 400;
          }
        }
        &__link {
          font-size: $font-xsm;
          font-weight: 500;
          line-height: 32px;
          color: $darkBlue;
          text-transform: capitalize;
          
        }
        &__text {
          margin-top: 12px;
          line-height: 24px;
          opacity: 0.75;
        }
        &__time {
          display: flex;
          align-items: center;
          margin-top: 16px;
          > img {
            margin-right: 12px;
          }
        }
      }
    }
  }
}
.article__img-item__img {
  background-repeat: no-repeat;
  background-position: left calc(50% + 1px) top -23px;
}

.article__img-item__first {
  background-image: url("../images/article__img-first__person.svg");
}
.article__img-item__second {
  background-image: url("../images/article__img-second__person.svg");
}
.article__img-item__third {
  background-image: url("../images/article__img-third__person.svg");
}
.article__img-item__fourth {
  background-image: url("../images/article__img-main__person.svg");
}

@media screen and (max-width: 1024px){
  .website__article {
    background-position: 
    right calc(50% + 500px) top 100px,
    right calc(50% + 400px) top -70px;
    .article {
      flex-direction: column;
      &__content {
        width: 100%;
      }
      &__img {
        margin-top: 20px;
        width: 100%;
        text-align: left;
        &-img {
          text-align: left;
          > img {
            width: auto;
          }
        }
        &-item {
          width: 560px;
        }
      }
    }
  }
}

@media screen and (max-width: 640px){
  .website__article {
    background-position: 
    right calc(50% + 400px) top 100px,
    right calc(50% + 300px) top -70px;
    &-heading {
      > h2 {
        font-size: $font-xmed;
      }
    }
    .article {
      &__content {
        .article__info {
          flex-direction: column;
          width: 100%;
          &-img {
            width: 380px;
            height: 300px;
            overflow: hidden;
            margin-bottom: 20px;
            > img {
              width: 450px;
              height: auto;
              transform: scale(1.1);
              
            }
          }
          &-item {
            margin-left: 0;
            width: 380px;
          }
        }
      }
      &__img {
        &-img {
          width: 380px;
          height: 300px;
          overflow: hidden;
          > img {
            width: 450px;
            height: auto;
            transform: scale(1.2);
          }
        }
        &-item {
          margin-top: -20px;
          margin-left: 0;
          width: 380px;
        }
      }
    }
  }
}

@media screen and (max-width: 400px){
  .website__article {
    .article {
      &__content {
        .article__info {
          
          &-img {
            margin-bottom: 0;
            width: 300px;
            height: 270px;
            > img {
              width: 320px;
              height: auto;
              transform: scale(1.1);
              
            }
          }
          &-item {
            
            width: 300px;
          }
        }
      }
      &__img {
        margin-top: -10px;
        &-img {
          width: 300px;
          height: 270px;
          overflow: hidden;
          > img {
            width: 300px;
            height: auto;
            transform: scale(1.2);
          }
        }
        &-item {
          margin-top: -70px;
          width: 300px;
        }
      }
    }
  }
}
