.website__footer {
  background-image: 
  url("../images/footer__background-blue.svg"),
  url("../images/footer__background-light__green.svg");
  background-repeat: no-repeat;
  background-position: 
  left calc(50% + 800px) top -60px,
  left calc(50% + 500px) top 0px;


  padding-top: 140px;
  padding-bottom: 100px;
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

    &__logo {
      width: 320px;
      > a {
        > img {
          margin-bottom: 12px;
        }
      }
      > p {
        color: $greyInk;
        line-height: 24px;
        margin-bottom: 24px;
      }
      &-social {
        > svg {
          margin-right: 34px;
          fill: $blueBlack;
          transition: all 0.3s ease-in-out;
          &:hover {
            fill: $lightgreen;
          }
        }
      }
    }

    &__list {
      display: flex;
      align-items: flex-start;

      &-property {
        margin-right: 88px;
        > h4 {
          margin: 0;
          margin-bottom: 24px;
          color: $almostBlack;
          font-weight: 600;
          font-size: $font-xsm;
        }
        > ul {
          margin: 0;
          >li {
            > a {
              color: $darkerGrey;
              transition: all 0.3s ease-in-out;
              font-weight: 500;
              cursor: pointer;
              &:hover {
                color: $lightgreen;
              }
            }
            &:not(:last-child){
              margin-bottom: 18px;
            }
          }
        }
      }
      &-article {
        margin-right: 88px;
        
        > h4 {
          margin: 0;
          margin-bottom: 24px;
          color: $almostBlack;
          font-weight: 600;
          font-size: $font-xsm;
        }
        > ul {
          margin: 0;
          >li {
            > a {
              font-weight: 500;
              cursor: pointer;
              color: $darkerGrey;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: $lightgreen;
              }
            } 
            &:not(:last-child){
              margin-bottom: 18px;
            }
          }
        }
      }
      &-contact {
        > h4 {
          margin: 0;
          margin-bottom: 24px;
          color: $almostBlack;
          font-weight: 600;
          font-size: $font-xsm;
        }
        > ul {
          margin: 0;
          color: $darkerGrey;
          > li {
            transition: all 0.3s ease-in-out;
            font-weight: 500;
            cursor: pointer;
            &:not(:last-child){
              margin-bottom: 18px;
            }
            &:hover {
              color: $lightgreen;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1100px){
  .website__footer {
    padding-top: 80px;
    .footer {
      flex-direction: column;
      justify-content: center;
      &__logo {
        width: 500px;
        margin: 0 auto;
        text-align: center;
      }
      &__list {
        margin: 30px auto 0 auto;
      }
    }
  }
}
@media screen and (max-width: 768px){
  .website__footer {
    background-position: 
    left calc(50% + 200px) top 200px,
    left calc(50% + 100px) top 10px;
    padding-top: 40px;
    .footer {
      &__logo {
        width: 100%;
        margin: 0 auto;
        text-align: center;
      }
      &__list {
        justify-content: center;
        flex-wrap: wrap;

        &-property {
          margin: 20px 30px 0 30px;
        }
        &-article {
          margin: 20px 30px 0 30px;
        }
        &-contact {
          margin: 30px 30px 0 30px;
        }
      }
    }
  }
}
