.hero {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 96px;
  flex-wrap: wrap;

  &__info {
    width: 42%;

    > h1 {
      font-size: $font-xlg;
      text-transform: capitalize;
      margin-bottom: 25px;
      font-weight: 700;
      line-height: 50px;
      font-style: normal;      
    }
    > p {
      font-size: $font-sm;
      margin-bottom: 33px;
      line-height: 28px;
    }
    &-search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid $grey;
      border-radius: 32px;
      margin-bottom: 35px;
      flex-wrap: wrap;

      > span {
        display: flex;
        align-items: center;
        margin-right: 16px;
        > img {
          width: 24px;
          height: 24px;
          margin: 16px 16px 16px 24px;
          
        }
        > input {
          width: 100%;
          height: 30px;
          border: none;
          outline: none;
          
          &::placeholder {
            font-weight: 500;
            color: $darkerGrey;
          }
        }
      }
      > a {
        display: flex;
        align-items: center;
        width: 109px;
        height: 48px;
        margin-right: 4px;
        padding-bottom: 2px;
        
        >svg {
          margin-left: 12px;
          margin-top: 2px;
          fill: $white;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          
          > svg {
            fill: $darkGreen;
          }
        }
      }
    }
    &-partner {
      > span {
        font-size: $font-sm;
        color: $darkerGrey;
        
      }  
      &__img {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 5px;
        column-gap: 20px;
        
        > img {
          transition: transform 0.3s ease-in-out;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  &__img {
    position: relative;
    width: 42%;
    height: 540px;

    &-content {
      position: absolute;
      bottom: 62px;
      left: -40px;
      display: flex;
      align-items: center;
      column-gap: 16px;

      &-box {
        position: relative;
        display: flex;
        align-items: center;
        background-color: $white;
        border-radius: 32px;
        column-gap: 16px;
      }  
      &__first {
        padding: 24px;
        .box__img {
          position: relative;
          display: flex;
          width: 112px;
          &-first__first {
            position: absolute;
            top: -50px;
            left: -35px;

          }
          &-first__second {
            position: absolute;
            top: -50px;
            left: -7px;

          }
          &-first__third {
            position: absolute;
            top: -50px;
            left: 22px;
          }
        }
        .box__text {
          width: 152px;
          padding: 4px 0;
          > p {
            color: $darkBlue;
            font-weight: 600;
            font-size: $font-sm;
            margin-bottom: 6px;
          }
          > span {
            font-size: 12px;
            color: $lighterGreyInk;
          }
        }
      }
      &__second {
        display: flex;
        width: 201px;
        padding: 22px 24px;

        .box__text {
          width: 81px;
          
          > p {
            color: $darkBlue;
            font-weight: 600;
            font-size: $font-sm;
            margin-bottom: 6px;
          }
          > span {
            font-size: 12px;
            color: $lighterGreyInk;
          }
        }
      }
      &__third {
        display: flex;
        padding: 24px;
        .box__img {
          position: relative;
          width: 56px;
          height: 56px; 
          > img {
            position: absolute;
            top: -23px;
            left: -32px;
          }
        }
        .box__text {
          width: 178px;
          
          > p {
            color: $darkBlue;
            font-weight: 600;
            font-size: $font-sm;
            margin-bottom: 6px;
          }
          > span {
            font-size: 12px;
            color: $lighterGreyInk;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 1023px){
  .hero {
    flex-direction: column;
    justify-content: center;
    &__info {
      width: 80%;
      margin: 0 auto;
      text-align: center;

      &-search {
        
        > span {
          width: 75%;
          > input {
            width: 100%;
            background-color: transparent;
          }
        }
      }
    }
    &__img {
      width: 80%;
      height: 200px;
      justify-content: center;
    }
  }
}

@media screen and (max-width: 768px){
  .hero {

    &__info {
      width: 100%;
      margin: 0 auto;
      text-align: center;
      h1 {
        font-size: $font-lg;
      }
    }
    &__img {
      margin-top: 250px;
      &-content {
        flex-direction: column;
        column-gap: 0;
        justify-content: center;
        left: calc(50% - 125px);
        &-box {
          margin-bottom: 20px;
        }
      }
    }
  }
}
@media screen and (max-width: 600px){
  .hero {
    &__info {
      h1 {
        font-size: $font-xmed;
        line-height: 30px;
      }
      p {
        font-size: $font-ssm;
      }
      &-search {
        border: none;
        > span {
          border: 1px solid $grey;
          border-radius: 32px;
          width: 100%;
          text-align: center;
          > img {
            margin-right: 0;
          }
          > input {
            &::placeholder {
              text-align: center;
            }
          }
        }
        > a {
          margin: 20px auto 0 auto;
        }
      }
    }

    
  }
}