.website__sell {
  padding-top: 120px;
  
  .sell {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__info {
      margin-left: 40px;
      width: 43.5%;

      &-top {
        display: flex;
        align-items: center;
        margin-left: -40px;
        > hr {
          margin-right: 8px;
        }
      }
      > h2 {
        margin-top: 12px;
        margin-bottom: 16px;
      }
      &-text {
        width: 80%;
        font-size: $font-sm;
        line-height: 28px;
        margin-bottom: 16px;
      }
      &-list {
        
        > h4 {
          margin: 0;
          color: $darkBlue;
          font-size: $font-sm;
          font-weight: 600;
          opacity: 0.75;
          margin-bottom: 16px;
        }
        &__item {
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
          row-gap: 16px;

          &-item {
            display: flex;
            align-items: center;
            > img {
              margin-right: 16px;
            }
            > p {
              color: #3C4563;
              font-weight: 600;
              font-size: $font-sm;
            }
          }
        }
      }
      &-line {
        width: 80%;
        height: 2px;
        border: none;
        background-color: $darkerWhite;
        margin: 32px 0 32px 0;
      }
      &-contact {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        &__img {
          width: 56px;
          height: 56px;
          margin-right: 24px;
          margin-bottom: 10px;
          background-image: url("../images/sell__img-person.png");
          background-size: 120px 120px;
          background-repeat: no-repeat;
          background-position: left calc(50% - 0px) top -22px;
          
        }
        &__text {
          margin-right: 59px;
          margin-bottom: 10px;
          > p {
            font-size: $font-xsm;
            color: $almostBlack;
            font-weight: 500;
            margin-bottom: 4px;
          }
          > span {
            font-weight: 500;
            color: $darkerGrey;
            font-size: $font-sm;
          }
        }
        > a {
          margin-bottom: 10px;
          width: 163px;
          height: 48px;
          > svg {
            margin-right: 16px;
            fill: $white;
            transition: all 0.3s ease-in-out;
          }
          &:hover {
            > svg {
              fill: $darkGreen;
            }
          }
          
        }
      }

    }
    &__img {
      position: relative;
      width: 528px;
      height: 459px;
      

      &-house {
        position: absolute;
        top: 0;
        right: 0;
      }
      &-player {
        position: absolute;
        top: 185px;
        left: 260px;
      }
      &-sofa {
        position: absolute;
        bottom: 0;
        left: 0;
      }
      &-chair {
        position: absolute;
        bottom: 0;
        right: 20px;
      }
      &-flower {
        position: absolute;
        bottom: 0;
        right: 125px;
      }
    }
  }
}

@media screen and (max-width:1024px){
  .website__sell {
    .sell {
      flex-direction: column;
      justify-content: center;
      &__info {
        width: 100%;
        text-align: center;
        margin: auto;
        margin-left: 0;
        &-top {
          justify-content: center;
          margin-left: 0;
        }

        &-text {
          width: 80%;
          margin: 0 auto;
          margin-bottom: 20px;
        }
        &-list__item {
          justify-items: center;
        }
        &-list {
          &__item {
            row-gap: 0;
            column-gap: 0;
            &-item {
              margin-bottom: 20px;
            }
          }
        }
        &-line {
          margin: 12px 0 32px 0;
        }
        &-line {
          width: 100%;
        }
        &-contact {
          justify-content: center;
        }

      }
      &__img {
        margin-top: 50px;
      }
    }
  }
}

@media screen and (max-width: 600px){
  .website__sell {  
    .sell {
      &__info {
        > h2 {
          font-size: $font-xmed;
        }
        > p {
          font-size: $font-ssm;
        }
        &-list {
          &__item {
            row-gap: 0;
            column-gap: 0;
            &-item {
              margin-bottom: 20px;
            }
          }
        }
        &-contact {
          

          &__text {
            margin-right: 30px;
          }
        }
      }
      
      &__img {
        width: 400px;
        height: 459px;
        
  
        &-house {
          width: 400px;
          height: 350px;
        }
        &-player {
          top: 150px;
          left: 180px;
        }
        &-sofa {
          width: 250px;
          height: 150px;
          bottom: 20px;
          left: -40px;
        }
        &-chair {
          bottom: 50px;
          right: -40px;
        }
        &-flower {
          bottom: 50px;
          right: 75px;
        }
      }
    }
  }
}
@media screen and (max-width: 500px){
  .website__sell {  
    padding-top: 80px;
    .sell {
      &__info {
        > h2 {
          font-size: $font-xmed;
        }
        > p {
          font-size: $font-ssm;
          width: 100%;
        }
        &-list {
          &__item {
            grid-template-columns: 1fr;
            grid-template-rows: 4fr;
          }
        }
        &-contact {
          flex-direction: column;
          &__img {
            margin-right: 0;
          }
          &__text {
            margin-right: 0px;
          }
        }
      }
      
      &__img {
        margin: 0 auto;
        width: 300px;
        height: 359px;
        
  
        &-house {
          width: 300px;
          height: 320px;
        }
        &-player {
          top: 125px;
          left: 125px;
        }
        &-sofa {
          width: 190px;
          height: 120px;
          bottom: 20px;
          left: -30px;
        }
        &-chair {
          width: 70px;
          height: 60px;
          bottom: 50px;
          right: -30px;
        }
        &-flower {
          width: 70px;
          height: 60px;
          bottom: 50px;
          right: 55px;
        }
      }
    }
  }
}