.website__subscribe {
  padding-top: 120px;
  .subscribe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 24px;
    background-image: url("../images/subscribe__background.svg");
    background-size: cover;
    padding: 33px 73px 60px 42px;
    &__left {
      position: relative;
      width: 200px;
      height: 200px;

      &-chair {
        position: absolute;
        top: 0;
        left: 0;
      } 
      &-men {
        position: absolute;
        top: 0;
        right: -25px;
      } 
      &-women {
        position: absolute;
        bottom: 0px;
        left: -10px;
      } 
      &-house {
        position: absolute;
        bottom: 0;
        right: 0;
      } 
    }

    &__info {
      text-align: center;
      width: 496px;
      > h2 {
        margin-bottom: 32px;
      }
      &-input {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        border-radius: 32px;
        padding: 4px;
        > span {
          display: flex;
          align-items: center;
          > img {
            padding: 0 16px 0 24px;
          }
          > input {
            width: 283px;
            border: none;
            outline: none;
  
            &::placeholder {
              font-size: $font-ssm;
              font-weight: 500;
              color: $darkerGrey;
  
            }
          }
        }
        > a {
          width: 129px;
          height: 46px;
        }
      }
    }

    &__right {
      position: relative;
      width: 200px;
      height: 200px;
      &-house {
        position: absolute;
        top: 5px;
        left: 0;
      } 
      &-women {
        position: absolute;
        top: 40px;
        right: -20px;
      } 
      &-men {
        position: absolute;
        bottom: 30px;
        left: 0px;
      }
      &-chair {
        position: absolute;
        bottom: -10px;
        right: 0;
      }  
    }
  }
}

@media screen and (max-width: 1024px){
  .website__subscribe {
    padding-top: 80px;
    .subscribe {
      flex-direction: column;
      border-radius: 32px;
      background-size: 500%;
      background-position: left center;
      background-repeat: no-repeat;

      &__left {
        width: 300px;
        margin-bottom: 30px;
      }
      &__info {
        width: 100%;
        &-input {
          width: 90%;
          margin: 0 auto;
        }
      }
      &__right {
        width: 300px;
        margin-top: 30px;
      }
    }
  }
}
@media screen and (max-width: 675px){
  .website__subscribe {
    padding-top: 40px;
    .subscribe {
      background-size: 1300%;
      background-position: left center;

      &__left {
        width: 250px;
        margin-bottom: 20px;
      }
      &__info {
        > h2 {
          font-size: $font-xmed;
        }
        width: 100%;
        &-input {
          flex-direction: column;
          justify-content: center;
          width: 100%;
          margin: 0 auto;
          background-color: transparent;
          border-radius: 0;
          > span {
            width: 100%;
            background-color: $white;
            padding: 4px 10px;
            border-radius: 32px;
            margin: 0 auto 20px auto;
            >input {
              height: 35px;
              width: 100%;
              
            }
          }
        }
      }
      &__right {
        width: 250px;
        margin-top: 20px;
      }
    }
  }
}
@media screen and (max-width: 450px){
  .website__subscribe {
    .container {
      padding: 0;
    }
    .subscribe {
      padding: 20px 40px 20px 10px;
      &__info {
        > h2 {
          margin-right: -30px;
        }
        &-input {
          > a{
            margin-right: -30px;
          }
        }
      }
    }
  }
}