/* Table of Contents */
/* 1. Fonts */
/* 2. General Styles */
/* 3. Header Section*/



/* 1. FONTS */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-100.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-300.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-200.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-200.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url("../webfonts/public-sans-v5-latin-regular.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-500.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-600.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-italic.woff2") format("woff2"),
  url("../webfonts/public-sans-v5-latin-italic.woff") format("woff");
}

/* 2. GENERAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", "Arial", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

}
.container {
  max-width: 1150px;
  padding: 0 165px;
  margin: 0 auto;
}

/* 3. HEADER SECTION */

.site-nav {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}
.site-logo__link {
  margin-right: auto;
}
.site-nav__list {
  display: flex;
}
.site-nav__item {
  display: block;
  list-style-type: none;
  font-size: 14px;
  padding-right: 40px;
  color: #9597A5;
  cursor: pointer;
}
.site-nav__item:hover {
  color: #2D314D;
}
.site-nav_link {
  margin-left: auto;
  font-size: 14px;
  background: linear-gradient(150deg, #33D35E, #2AB6D9 80%);
  color: #fff;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
}


.header-content {
  background-color: #F2F2F2;
}
.header-content__info {
  display: flex;
}
.header-content__info--background {
  height: 700px;
  width: 900px;
  position: absolute;
  top: 90px;
  

}
.header-content__info--img {
  height: 800px;
  width: 600px;
  position: relative;
  
  
}