/* Table of Contents */
/* 1. Fonts */
/* 2. General Styles */
/* 3. Header Section*/



/* 1. FONTS */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-100.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-300.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-200.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-200.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url("../webfonts/public-sans-v5-latin-regular.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-500.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-600.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-italic.woff2") format("woff2"),
  url("../webfonts/public-sans-v5-latin-italic.woff") format("woff");
}

/* 2. GENERAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", "Arial", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

}
.container {
  max-width: 1150px;
  padding: 0 165px;
  margin: 0 auto;
  overflow: hidden;
  
}

/* 3. HEADER SECTION */

.site-nav {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  z-index: 100;
  background-color: white;
  height: 80px;
}
.site-logo__link {
  margin-right: auto;
}
.site-nav__list {
  display: flex;
  
}
.site-nav__item {
  padding: 30px 20px;
  display: block;
  list-style-type: none;
  font-size: 14px;
  color: #9597A5;
  cursor: pointer;

}
.site-nav__item:hover {
  color: #2D314D;
  border-bottom: 3px solid #57cca3;
}
.site-nav_link {
  margin-left: auto;
  font-size: 14px;
  background: linear-gradient(150deg, #33D35E, #2AB6D9 80%);
  color: #fff;
  font-weight: 500;
  padding: 10px 25px;
  border-radius: 25px;
  cursor: pointer;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}

.site-nav_link:hover {
  opacity: 0.7;
}


.header-content {
  background-color: #F4F5F7;
  height: 700px;
}
.header-content__info {
  width: 1110px;
}
.header-content__info--left {
  width: 447px;
  height: 316px;
  padding-top: 120px;
}
.header-content__info--left h1 {
  font-size: 56px;
  font-weight: 100;
}

.header-content__info--left p {
  color: #9597A5;
  font-size: 18px;
  padding-bottom: 30px;
}
.header-content__info--background {
  height: 956px;
  width: 1371px;
  position: relative;
  top: -800px;
  z-index: 1;
  left: 420px;
  box-sizing: border-box;
  
  
}
.header-content__info--img {
  height: 910px;
  width: 728px;
  position: relative;
  z-index: 2;
  bottom: 1620px;
  left: 585px;
}

/* 4. MAIN SECTION */
.site-main {
  background-color: #F2F2F2;
}
.site-main__heading {
  font-size: 40px;
  font-weight: 100;
  padding-top: 70px;
}
.site-main__para {
  color: #9597A5;
  font-size: 18px;
  width: 635px;
}

.site-main__info {
  display: flex;
  padding: 50px 0 80px 0;
} 
.site-main__info-item__first h3::before {
  content: "";
  background-image: url(../img/card.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  display: block;
  margin-bottom: 40px;
}
.site-main__info-item__second h3::before {
  content: "";
  background-image: url(../img/dollor.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  display: block;
  margin-bottom: 40px;
}

.site-main__info-item__third h3::before {
  content: "";
  background-image: url(../img/people.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  display: block;
  margin-bottom: 40px;
}

.site-main__info-item__fourth h3::before {
  content: "";
  background-image: url(../img/it.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 72px;
  height: 72px;
  display: block;
  margin-bottom: 40px;
}
.site-main__info-item h3 {
  color: #2D314D;
  font-size: 24px;
  font-weight: 100;
}

.site-main__info-item p {
  color: #9597A5;
  width: 255px;
  padding-right: 20px;
}

/* MAIN ARTICLE SECTION */
.main-article {
  padding: 60px 0;
}
.main-article__heading {
  font-size: 40px;
  font-weight: 100;
  color: #2D314D;
}

.main-article__info {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
}
.main-article__info--item {
  width: 240px;
  height: 395px;
  margin: auto;
}
.main-article__info--item img {
  width: 240px;
  height: 180px;
}
.main-article__info--item h5 {
  color: #9597A5;
  font-size: 10px;
}
.main-article__info--item h4 {
  color: #2D314D;
  font-size: 16px;
  font-weight: 300;
}
.main-article__info--item p {
  color: #9597A5;
  font-size: 13px;
  font-weight: 400;
}

/* SITE FOOTER */
.site-footer {
  background-color: #2D314D;
  
}
.site-footer__info {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 0 0 0;
  align-items: center;
  
}
.site-footer__left {
  display: flex;
  list-style-type: none;
  margin-right: auto;
}
.site-footer__left-left {

}
.site-footer__left-left ul {
  display: flex;
  list-style-type: none;
}
.site-footer__left-left ul li {
  padding-right: 5px;
}
.site-footer__left-left img {
  padding-bottom: 50px;
}

.site-footer__left-right ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin-left: 90px;
  margin-top: -20px;
  
}
.site-footer__left-right ul li {
  color: #fff;
  font-size: 15px;
  padding: 15px;
  
}
.site-footer__left-right ul li a {
  cursor: pointer;
  text-decoration: none;
  color: #fff;
}
.site-footer__left-left ul li a img {
  width: 20px;
  height: 20px;
}

.site-footer__right h5 {
  color: #fff;
  font-weight: 300;
}