/* Table of Contents */
/* 1. Fonts */
/* 2. General Styles */
/* 3. Header Section*/



/* 1. FONTS */
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-100.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-100.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-300.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-200.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-200.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:url("../webfonts/public-sans-v5-latin-regular.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-500.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-600.woff2") format("woff2"),
    url("../webfonts/public-sans-v5-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Public Sans";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/public-sans-v5-latin-italic.woff2") format("woff2"),
  url("../webfonts/public-sans-v5-latin-italic.woff") format("woff");
}

/* 2. GENERAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", "Arial", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

}
.container {
  max-width: 1150px;
  padding: 0 165px;
  margin: 0 auto;
}

/* 3. HEADER SECTION */