.header__section {
  min-height: 1570px;
  
  .header {
    max-width: 1920px;
    margin: 0 auto;
    height: 1075px;
    background-image: url("../images/hero__background-top-right.svg"), url("../images/hero__circle-top-left.svg"), url("../images/hero__background-triangle.svg"), url("../images/hero__circle-big.svg"), linear-gradient(230deg, $linearstart, $linearend 70%);
    background-repeat: no-repeat;
    border-radius: 0% 0% 50% 50% / 15%;
    background-position: right calc(50% + 790px) bottom 800px, right calc(50% + 600px) bottom 80px, left calc(50% + 845px) bottom 845px, left calc(50% + 650px) top 430px, 0;

    .navbar {
      display: flex;
      justify-content: space-between;
      padding: 30px 60px 0 60px;
      align-items: center;

      &__logo {
        width: 259px;
        height: 61px;
      }
      &__list {
        display: flex;

        >li {
          &:not(:last-child) {
            margin-right: 32px;
          }
          
          >a {
            color: $white;
            transition: all 0.3s ease-in-out;

            &:hover {
              color: $textblack;
            }
          }
        } 
      }
      &__button {
        margin: 0;
      }
    }
    .hero {
      text-align: center;
      margin-top: 104px;
      >h1 {
        color: $white;
        font-size: $font-xlg;
      }
      >p {
        color: $white;
        font-size: $font-med;
        margin: 28px 0 41px 0;
      }
      img {
        margin-top: 45px;
      }
    }
  }
}
