.header {
  padding: 20px 0;
  z-index: 100;
  &__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &-logo {
      > img {
        width: 100px;
        height: 30px;
      }
    }
    &-menu {
      > ul {
        display: flex;
        align-items: center;

        > li {
          &:not(:last-child){
            margin-right: 32px;
          }
          &:first-child {
            a {
              color: $green;
            }
          }
          > a {
            color: $black;
            font-weight: 500;
            border-bottom: 3px solid transparent;
            padding-bottom: 10px;
            transition: 0.3s ease-in-out;
            transition-property: color, border-color;

            &:hover {
              color: $green;
              border-color: $green;
            }
          }
        }
      }
    } 
    
    &-hamburger {
      display: flex;
      flex-direction: column;

      span {
        width: 25px;
        height: 2px;
        background-color: black;
        padding: 1px;
        margin: 2px;
      }
    }
  }
}
.header__nav-menu {
  position: relative;
}


@media screen and (min-width: 801px) {
  .nav__close, .header__nav-hamburger {
    display: none;
  }
  
}

@media screen and (max-width: 800px) {
  .header {
    padding-top: 29px;
    padding-bottom: 28px;

    &__nav-menu {
      .header__nav-list {
        display: flex;
        flex-direction: column;
        margin: 120px 0 0 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        text-align: center;
    
        >li {
          margin-right: 0;
          padding: 20px 0;
          &:not(:last-child){
            margin-right: 0;
          }
          > a {
            border: none;
          }
    
        }
      }
    } 
  }
  .header__nav-menu {
    position: fixed;
    top: -20px;
    right: -100%;
    width: 70%;
    height: 100%;
    background-color: rgb(180, 250, 180);
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease-in-out;
  }
  .nav__close {
    display: block;
    position: absolute;
    top: 58px;
    right: 108px;
    transform: scale(2.5);
    font-weight: 700;
    color: $green;
    &:hover {
      color: black;
    }

  }
  .header__nav-hamburger {
    display: flex;
    flex-direction: column;
    >span {
      background-color: $green;
    }
    &:hover {
      span {
        background-color: black;
      }
    } 
  }
  

}
@media screen and (max-width:700px){
  .nav__close {
    top: 58px;
    right: 68px;
  }
}
@media screen and (max-width:500px){
  .nav__close {
    top: 58px;
    right: 48px;
  }
}
.show__menu {
  right: 0;
}

