/* Table of Contents */
/* General Styles */
/* Header */
/* Services */
/*  */
/*  */
/* Media Queries */

/* 1. General Styles */
:root {
  /* Colors */
  --black: #000000;
  --darkBlue: #1f3f68;
  --wildBlue: #316099;
  --blue: #5a98d0;
  --white: #ffffff;
  --blueHam: #356ead;
  --bluelinearstart: #b3c2d0;

  /* Font Sizes */
  --font-very-sm: 14px;
  --font-sm: 16px;
  --font-med: 20px;
  --font-med-high: 28px;
  --font-lg: 36px;
  --font-xlg: 48px;
}
html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  line-height: 1.3;
  font-size: var(--font-sm);
  font-weight: 400;
  min-height: 300vh;
}

h1,
h2,
h3 {
  margin-top: 0;
  font-weight: 600;
  line-height: 1.15;
  color: var(--darkBlue);
}

p {
  line-height: 1.5;
  color: var(--darkBlue);
  opacity: 0.6;
}
a,
a:visited,
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
/* Spacing */
.container__header {
  max-width: 1366px;
  padding: 0 83px;
  margin: 0 auto;
  overflow: hidden;
}
.container__body {
  max-width: 1366px;
  padding: 0 213px;
  margin: 0 auto;
  overflow: hidden;
}
/* Buttons */
button,
.button {
  text-align: center;
  cursor: pointer;
  display: inline-block;
  background-color: var(--blue);
  color: var(--white);
  margin: 0;
  padding: 0;
  font-weight: 400;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
  opacity: 1;
}
.button:hover {
  opacity: 0.75;
}

/* Header Section */
.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}
.header__hamburger {
  display: flex;
  flex-direction: column;
  width: 32px;
  height: 32px;
  transition: opacity 0.3s ease-in-out;
}
.header__hamburger:hover {
  opacity: 0.5;
}
.header__hamburger span {
  width: 30px;
  height: 4px;
  margin: 2px;
  background-color: var(--blueHam);
}

.hero {
  padding-top: 100px;
  padding-bottom: 190px;
  background-image: url(../images/hero__background.svg), linear-gradient( 180deg,  var(--white) 70%, var(--bluelinearstart));
  background-repeat: no-repeat;
  background-position: left calc(50% + 310px) bottom 30px, 0;

}
.hero__content {
  display: flex;
  justify-content: space-between;
}
.hero h1 {
  width: 510px;
  color: var(--darkBlue);
  font-size: var(--font-xlg);
  font-weight: 700;
}
.hero p {
  margin: 40px 0 70px 0;
  width: 425px;
}
.hero a {
  padding: 15px 48px;
}

/* Features Section */
.features {
  padding-top: 180px;
  padding-bottom: 50px;
}
.features h2 {
  width: 358px;
  font-size: var(--font-lg);
}

.features__list {
  top: -135px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.features__item-left {
  margin-right: 100px;
  width: 380px;
  height: 525px;
  border-radius: 20px;
  box-shadow: #a0c2e1 0px 10px 15px 0px;
  padding: 48px;
}
.features__img-document {
  width: 182px;
  height: 132px;
}
.features__img-heading {
  text-align: left;
}
.features__img-heading-margin {
  margin-top: 60px;
}
.features__img-text {
  margin-top: 20px;
  text-align: left;
}
.features__link {
  padding-top: 25px;
  display: flex;
  text-align: left;
  align-items: center;
  color: var(--blue);
  font-weight: 600;
  font-size: var(--font-very-sm);
  cursor: pointer;
}
.features__link a {
  margin-right: 20px;
}

.features__item-home {
  width: 380px;
  box-shadow: #a0c2e1 0px 10px 15px 0px;
  margin-bottom: 100px;
  height: 537px;
  border-radius: 20px;
  padding: 48px;
}
.features__img-applications {
  width: 224px;
  height: 197px;
  position: relative;
  top: -75px;
}
.features__item-product {
  width: 380px;
  box-shadow: #a0c2e1 0px 10px 15px 0px;
  height: 525px;
  border-radius: 20px;
  padding: 48px;
}
.features__img-product {
  width: 156px;
  height: 131px;
}

/* Project Section */
.project {
  padding-bottom: 150px;
}
.project__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.project__info h2 {
  margin-top: 25px;
  width: 227px;
  font-size: var(--font-lg);
}
.project__info p {
  width: 540px;
}
.project__img-home {
  margin: 80px 0;
  width: 940px;
  height: 417px;
  background-image: url(../images/Project__home-background.png);
  background-size: cover;
  border-radius: 20px;
  padding: 5px 60px 0 0;
  text-align: right;
  color: var(--white);
}
.project__img-home h4 {
  font-size: var(--font-med-high);
  font-weight: 400;
}
.project__img-home p {
  opacity: 0.8;
  color: var(--white);
}
.project__img {
  display: flex;
  justify-content: space-between;
}
.project__img-sparklite {
  padding: 5px 0 0 32px;
  width: 422px;
  height: 417px;
  background-image: url(../images/Project__sparklite-background.jpg);
  background-size: cover;
  color: var(--white);
}
.project__img-sparklite h4 {
  font-size: var(--font-med-high);
  font-weight: 400;
}
.project__img-sparklite p {
  color: var(--white);
  opacity: 0.8;
}
.project__img-car {
  padding: 5px 0 0 32px;
  width: 422px;
  height: 417px;
  background-image: url(../images/Project__car-background.jpg);
  background-size: cover;
  color: var(--white);
}
.project__img-car h4 {
  font-size: var(--font-med-high);
  font-weight: 400;
}
.project__img-car p {
  color: var(--white);
  opacity: 0.8;
}

/* Client Section */
.client {
  background-color: var(--blue);
  border-top-left-radius: 150px;
}
.client__info {
  padding: 80px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.client__info h2 {
  margin-top: 25px;
  width: 227px;
  font-size: var(--font-lg);
  color: var(--white);
  font-weight: 500;
}
.client__info p {
  width: 540px;
  color: var(--white);
  opacity: 0.6;
}
.client__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 150px;
}
.client__item {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 220px;
  height: 128px;
  color: var(--white);
}
.client__item h3 {
  color: var(--white);
  font-size: 19px;
  font-weight: 500;
  opacity: 1;
}

.client__item-main {
  border-right: 2px solid rgb(194, 194, 194);
  border-bottom: 2px solid rgb(194, 194, 194);
  padding-top: 15px;
}
.client__item-main-last{
  border-bottom: 2px solid rgb(194, 194, 194);
  padding-top: 15px;
}
.client__item-last {
  background-color: #426ba5;
}
.client__item-bottom {
  padding-top: 15px;
}
.client__item-bottom:not(:last-child){
  border-right: 2px solid rgb(194, 194, 194);
}

/* Footer Section */
.footer {
  margin-right: 96px;
  background-color: var(--wildBlue);
  padding-left: 213px;
  padding-right: 197px;
  border-top-right-radius: 150px;
}
.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}
.footer__info-heading {
  width: 460px;
}
.footer__info-heading h2 {
  width: 317px;
  font-size: var(--font-lg);
  color: var(--white);
  font-weight: 500;
}
.footer__info-heading p {
  color: var(--white);
}
.footer__info a {
  padding: 15px 75px;
}
.x-line {
  margin-top: 90px;
  margin-bottom: 90px;
  margin-left: -213px;
  height: 2px;
  background-color: rgb(194, 194, 194);
  border: none;
  opacity: 0.6;
}
.footer__list {
  display: flex;
  justify-content: space-between;
  color: var(--white);
}
.footer__list p {
  color: var(--white);
  opacity: 1;
}
.footer__list h3 {
  color: var(--white);
}
.footer__list a {
  color: var(--white);
}
.footer__content  span {
  display: flex;
}
.footer__content-logo {
  margin-bottom: 33px;
}
.footer__content-logo__img {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.footer__content-logo__text {
  width: 125px;
  height: 46px;
}
.footer__content-all {
  display: flex;
  width: 299px;
}
.footer__content-all p {
  font-weight: 400;
  opacity: 0.8;
  padding: 8px 0 0 20px;
}
.footer__content-all h5 {
  font-size: var(--font-sm);
  font-weight: 600;
}

.footer__item-links {
  display: flex;
  margin-top: 14px;
}
.footer__links h3 {
  font-size: var(--font-med);
  font-weight: 500;
  padding-bottom: 35px;
} 
.footer__links ul li:not(:last-child) {
  margin-bottom: 30px;
}
.footer__links ul li a {
  font-weight: 400;
  opacity: 0.8;
}
.footer__links ul li a:hover {
  opacity: 1;
}
.footer__links-about {
  width: 163px;
  margin-right: 80px;
}
.footer__links-follow {
  width: 97px;
}
.footer__reserved {
  color: var(--white);
  opacity: 0.4;
  padding-top: 20px;
  padding-bottom: 50px;
}



















