/* Table of Contents */
/* 1. GENERAL STYLES */
/* 2. HEADER */
/* 3. ABOUT */
/*  */
/*  */
/*  */


/* 1. GENERAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

}
.container {
  max-width: 1350px;
  padding: 0 120px;
  margin: 0 auto;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style-type: none;
}
p {
  color: #fff;
}

/* 2. HEADER */
.header {
  background: rgb(12, 15, 56);
}
.header-nav {
  display: flex;
  margin: auto;
  padding: 40px 0;
  align-items: center;
}
.logo__link {
  margin-right: auto;
}
.logo {
  width: 147px;
  height: 36px;
}
.header-list {
  display: flex;
}
.header-list__item {
  padding: 0 25px;
}
.header-list__link-first {
  color: rgb(253, 212, 48);
}
.header-list__link {
  transition: color 0.3s ease;
}
.header-list__link:hover {
  color: rgb(253, 212, 48);
}
.header-main {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-bottom: 70px;
}

.header-main__text h1 {
  font-size: 63px;
  color: #fff;
  margin: 0;
  padding: 10px 0;
}
.header-main__text h2 {
  font-size: 41px;
  margin: 0;
  padding: 15px 0;
  color: rgb(253, 212, 48);
}
.header-main__text p {
  line-height: 1.8;
  padding-bottom: 40px;
}
.header-main__text a {
  width: 190px;
  height: 50px;
  background-color: white;
  padding: 15px 45px;
  color: black;
  transition: background-color 0.5s ease;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -ms-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
}
.header-main__text a:hover {
  background-color: black;
  color: #fff;
}
.header-main__img {
  width: 630px;
  height: 560px;
}

/* 3. ABOUT */
.about {
  justify-content: center;
  text-align: center;
  padding: 50px 0;
}
.about__heading {
  padding-bottom: 50px;
  font-size: 44px;
  color: rgb(12, 15, 56);
}
.about__text {
  color: black;
  line-height: 1.8;
  padding: 20px 80px;
  margin-bottom: 50px;
}
.about__link {
  width: 190px;
  height: 50px;
  background-color: black;
  padding: 15px 50px;
  color: #fff;
  transition: background-color 0.5s ease;
}
.about__link:hover {
  background-color: rgb(12, 15, 56);
}