/* Table of Contents */
/* 1. GENERAL STYLES */
/* 2. HEADER */
/*  */
/*  */
/*  */
/*  */


/* 1. GENERAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
}
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;

}
.container {
  max-width: 1350px;
  padding: 0 120px;
  margin: 0 auto;
  overflow: hidden;
}
a {
  text-decoration: none;
  color: #fff;
}
ul {
  list-style-type: none;
}

/* 2. HEADER */
.header {
  background: rgb(12, 15, 56);
}
.header-nav {
  display: flex;
  margin: auto;
  padding: 40px 0;
  align-items: center;
} 
.logo {
  width: 147px;
  height: 36px;
  margin-right: auto;
}
.header-list {
  display: flex;
}
.header-list__item {
  padding: 0 25px;
}
.header-list__link-first {
  color: rgb(253, 212, 48);
}
.header-list__link {
  transition: color 0.3s ease;
  -webkit-transition: color 0.3s ease;
  -moz-transition: color 0.3s ease;
  -ms-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
}
.header-list__link:hover {
  color: rgb(253, 212, 48);
}
