.site__footer {
  padding-top: 272px;
  background-image: url("../images/footer__background-blue.svg"),
  url("../images/footer__background-pink.svg");
  background-repeat: no-repeat;
  background-size: auto, 1580px;
  background-position: bottom center, left calc(50% + 0px) top 35px;
  .footer {

    >h2 {
      text-align: center;
      margin-bottom: 30px;
    }
    &__text {
      text-align: center;
      width: 600px;
      margin: 0 auto;
      font-size: $font-med;
      margin-bottom: 80px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      padding-bottom: 100px;
      flex-wrap: wrap;

      &-item {
        width: 340px;
        background-color: #0F1F4B;
        padding-top: 50px;
        padding-bottom: 70px;
        border-radius: 20px;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

        &__heading {
          font-size: $font-xmed;
          color: $white;
          font-weight: 700;
        }
        &__sub-heading {
          margin-top: 10px;
          margin-bottom: 30px;
          font-size: $font-med;
        }
        >hr {
          width: 220px;
          color: #2A407C;
          border: none;
          height: 1px;
          background-color: #2A407C;
        }
        &__price {
          padding-top: 30px;
          font-size: $font-xmed;
          color: $white;
          margin-bottom: 10px;
          font-weight: 500;

          >span {
            font-size: 60px;
          }
        }
        >a {
          width: 200px;
          margin-top: 50px;
          color: $white;
          transition: all 0.3s ease-in-out;
          background-color: transparent;
          border: 1px solid $wildlBlue;
          &:hover {
            background-color: $pink;
            border-color: $pink;
            
          }
        }
      }
      &-item__standard {
        background-color: $white;
        &__heading {
          color: $darkBlue;
        }
        &__sub-heading {
          margin-top: 10px;
          margin-bottom: 30px;
          font-size: $font-med;
        }
        >hr {
          background-color: #D3D9E9;
        }
        &__price {
          color: $darkBlue;
          font-weight: 500;
          >span {
            font-size: 60px;
          }
        }
        >a {
          width: 200px;
          margin-top: 50px;
          color: $white;
          transition: all 0.3s ease-in-out;
          background-color: $pink;
          border: 1px solid $pink;
          font-weight: 400;
          &:hover {
            background-color: transparent;
            border-color: $darkBlue;
            color: $darkBlue;
            
          }
        }
      }
      
    }
    .x-line {
      border: none;
      width: 100%;
      height: 1px;
      background-color: #2A407C;
      margin-bottom: 69px;
    }
    &__bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      padding-bottom: 100px;
      
      &-logo {
        width: 138px;
        height: 30px;
        >svg {
          fill: $wildlBlue;
          transition: all 0.3s ease-in-out;
          &:hover {
            fill: $pink;
          }
        }
      }
      &-nav {
        display: flex;
        align-items: center;

        >li {
          &:not(:last-child){
            margin-right: 32px;
          }
          >a {
            font-weight: 500;
            font-size: $font-very-sm;
            color: $wildlBlue;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: $pink;
            }
          }
        }
      }
      &-links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        
        li {
          
          &:not(:last-child){
            margin-right: 40px;
          }
          a {
            
            >svg {
              fill: #8794BA;
              transition: all 0.3s ease-in-out;
              &:hover {
                fill: $pink;
              }
            }
          }
        }
      }
    }
    
    
  }
}

@media screen and (max-width:1366px){
  .site__footer {
    background-size: 2500px 2170px, 1580px;
    .footer {

      h1 {
        font-size: 30px;
      }
      &__list {
        justify-content: center;

        &-item {
          margin: 10px;  
        }
        
      }
    }
  }
}
@media screen and (max-width:919px) {
  .site__footer {
    background-size: 150%, 1580px;
  }
}

@media screen and (max-width:900px){
  .site__footer {
    background-size: 1580px 2920px, 1580px;
    background-position: 
    bottom center,
    left calc(50% + 0px) top 35px;

    .footer {
      h1 {
        font-size: 30px;
      }
      &__text {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        font-size: $font-sm;
      }
      &__list {
        justify-content: center;   
      }
      &__bottom {
        justify-content: center;
        padding-bottom: 20px;
        &-logo {
          margin: 10px;
        }
        &-nav {
          margin: 10px;
        }
        &-links {
          margin: 10px;
        }
      }
    }
  }
}
@media screen and (max-width) {
  .site__footer {
    
  }
}

