.header {
  min-height: 1000px;
  background-image: 
  url("../images/hero__background-rect.svg"),
  url("../images/hero__background-rect-pink.svg");
  background-repeat: no-repeat;
  background-position: top center,
  left calc(50% + 21px) top 545px;
  background-size: auto, 1625px 271px;


  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    &-main {
      display: flex;
      align-items: center;
      &__logo {
        margin-right: 81px;
      }
      &__list {
        .main__list {
          display: flex;
          li {

            &:not(:last-child) {
              margin-right: 32px;
            }

            a {
              color: $wildlBlue;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: $pink;
              }
            }
          }
        }
      }
    }

    &-links {
      .navbar__links {
        display: flex;
        align-items: center;

        &-signin {
          margin-right: 40px;
          color: $wildlBlue;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $pink;
          }
        }
        &-signup {
          width: 157px;
          height: 36px;
          background-color: transparent;
          border: 2px solid #465B95;
          color: $wildlBlue;

          &:hover {
            background-color: $pink;
            color: $white;
            border-color: $pink;
          }
        }
      }
    }

    &-hamburger {
      >div {
        display: flex;
        flex-direction: column;
        transition: opacity 0.3s ease-in-out;
        &:hover {
          opacity: 0.7;
        }
        >span {
          background-color: $pink;
          width: 25px;
          padding: 2px;
          &:not(:last-child){
            margin-bottom: 5px;
          }
        }
      }

    }
  }
}