.header {
  background-image: 
  url("../images/hero__background-substract__small.svg"),
  url("../images/hero__background-substract__big.svg"),
  url("../images/hero__background-rect.svg"),
  url("../images/hero__background-rect-pink.svg");
  background-repeat: no-repeat;
  background-position: 
  right calc(50% + 505px) top 0, 
  left calc(50% + 300px) top -70px, 
  top center,
  left calc(50% + 21px) top 545px;
  background-size: auto, auto, auto, 1625px 271px;


  &__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;

    &-main {
      display: flex;
      align-items: center;
      &__logo {
        margin-right: 81px;
      }
      &__list {
        .main__list {
          display: flex;
          li {

            &:not(:last-child) {
              margin-right: 32px;
            }

            a {
              color: $wildlBlue;
              transition: all 0.3s ease-in-out;
              &:hover {
                color: $pink;
              }
            }
          }
        }
      }
    }

    &-links {
      .navbar__links {
        display: flex;
        align-items: center;

        &-signin {
          margin-right: 40px;
          color: $wildlBlue;
          transition: all 0.3s ease-in-out;
          &:hover {
            color: $pink;
          }
        }
        &-signup {
          width: 157px;
          height: 36px;
          background-color: transparent;
          border: 2px solid #465B95;
          color: $wildlBlue;

          &:hover {
            background-color: $pink;
            color: $white;
            border-color: $pink;
          }
        }
      }
    }

    &-hamburger {
      >div {
        display: flex;
        flex-direction: column;
        transition: opacity 0.3s ease-in-out;
        &:hover {
          opacity: 0.7;
        }
        >span {
          background-color: $pink;
          width: 25px;
          padding: 2px;
          &:not(:last-child){
            margin-bottom: 5px;
          }
        }
      }

    }
  }

  .hero {
    &__info {
      width: 550px;

      h1 {
        color: $white;
        font-size: $font-xlg;
        margin-bottom: 15px;
      }
      p {
        margin-bottom: 49px;
      }
      a {
        width: 232px;
        height: 44px;
        border: 3px solid $pink;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: transparent;
          color: $wildlBlue;
          border-color: #465B95;
        }
      }
    }

    &__img {
      position: relative;
      width: 550px;
      height: 400px;

      &-main {
        position: absolute;
        top: -18px;
        left: 40px;
      }
      &-pie {
        position: absolute;
        top: 80px;
        left: -30px;
      }
    }
  }
}

// --Media Queries--

@media only screen and (min-width: 1024px){
  .header__navbar-hamburger {
    display: none;
  }
  .hero__info img  {
    display: none;
  }
  .hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    margin-top: 74px;
    padding-bottom: 260px;
  }
  .hero__info a {
    margin: 0;
  }
  
}
@media only screen and (max-width: 1023px){
  .header {
    background-position:
    right calc(50% + 505px) top 0, 
    left calc(50% + 300px) top -70px, 
    top center,
    left calc(50% + 21px) top 1100px;
    background-size: auto, auto, 280%, 1625px 271px;
  }
  .header__navbar-hamburger {
    display: block;
  }
  .header__navbar-main__list {
    display: none;
  }
  .header__navbar-links {
    display: none;
  }
  .hero {
    margin-top: 50px;
    width: 100%;
    padding-bottom: 500px;
  }
  .hero__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
  }
  .hero__info h1 {
    margin-top: 50px;
  }
  .hero__info img  {
    display: block;
    width: 100%;
  }
  .hero__img {
    display: none;
  }
}
@media only screen and (max-width: 950px){
  .header {
    background-position: 
    right calc(50% + 505px) top 0, 
    left calc(50% + 300px) top -70px, 
    top center, 
    left calc(50% + 21px) top 890px;
    background-size: 0, 0, 280%, 1625px 271px;
  }
}
@media only screen and (max-width: 768px){
  .header {
    background-position: 
    right calc(50% + 505px) top 0, 
    left calc(50% + 300px) top -70px, 
    top center, 
    left calc(50% + 21px) top 850px;
    background-size: 0, 0, 350%, 1625px 271px;
  }
  p {
    font-size: 16px;
  }
  .hero__info {
    width: 100%;
    margin: 0;
  }
  .hero__info img {
    width: 400px;
    margin: 0 auto;
  }
  .hero {
    width: 400px;
  }
  #hero__info-heading {
    display: flex;
    width: 400px;
    margin: auto;
    font-size: 36px;
    margin-bottom: 20px;
  }
  .hero__info p {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
  }
  .container {
    padding: 0 80px;
  }
}
@media only screen and (max-width: 600px){
  .container {
    padding: 0 30px;
  }
  
  .header {
    background-position: 
    right calc(50% + 505px) top 0, 
    left calc(50% + 300px) top -70px, 
    top center, bottom center;
    background-size: 0, 0, 380%, 1625px 271px;
  }
  .hero {
    margin-top: 50px;
    width: 100%;
    padding-bottom: 200px;
    margin: 0;
  }
  .hero__info {
    justify-content: center;
    text-align: center;
    width: 300px;
    margin: auto;
  }
  .hero__info img {
    width: 300px;
    margin: 50px 0 0 0;
  
  }
  #hero__info-heading {
    display: flex;
    width: 300px;
    margin: 0;
    font-size: 36px;
    margin-bottom: 20px;
  }
  .hero__info p {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }
  .hero__info a {
    margin: 0;
    margin-left: 40px;
  }
}
@media only screen and (max-width: 500px) {
  .header {
    background-position: 
    right calc(50% + 505px) top 0, 
    left calc(50% + 300px) top -70px, 
    top center, bottom center;
    background-size: 0, 0, 500%, 1625px 271px;
  }
  .header__navbar {
    margin-top: 30px;
  }
  #hero__info-heading {  
    font-size: 30px;
  }
}