// 
// Colours
$main-background: #F5FAFE;
$secondary-background: #0A223D;
$white: #FFFFFF;
$button-red: #EC1F46;
$main-text: #333333;
$black: #000000;

// 
// Font Sizes
$font-s-10: 10px;
$font-s-11: 11px;
$font-s-12: 12px;
$font-s-13: 13px;
$font-s-14: 14px;
$font-s-18: 18px;
$font-s-24: 24px;
$font-s-36: 36px;

// 
// Fonts 
$font-mulish: "Mulish", sans-serif;
$font-nunito: "Nunito", sans-serif;

// Responsive 
@mixin media-sm {
  @media screen and (max-width: 500px){
    @content;
  }
}
@mixin media-md {
  @media screen and (max-width: 768px){
    @content;
  }
}
@mixin media-lg {
  @media screen and (max-width: 1024px){
    @content;
  }
}
@mixin media-lgx {
  @media screen and (max-width: 1150px){
    @content;
  }
}
@mixin media-xl {
  @media screen and (max-width: 1440px){
    @content;
  }
}