@include media-1440 {
  .container {
    // padding: 0 165px;
  }
}

@include media-1150  {
  .bottom__header {
    &--inside {
      justify-content: center;
      flex-wrap: wrap;
      

      .header__main {
        margin: 0 40px 30px 0;
        
        
      }
    }
  }
  
}

@include media-1024 {
  .container {
    padding: 0 80px;
  }
  .nav {
    &__list {
      li {
        a {
          font-size: $font-s-11;
        }
      }
    }
  }
  .package__header {

    .header {
  
      ul {
        justify-content: center;

        li {
          padding: 10px;
          margin: 0 10px 20px 10px;
        }
      }
    }
  }
}

@include media-768 {
  .container {
    padding: 0 60px;
  }
  .top__header {
    display: none;
  }
  .bottom__header {
    
    &--inside {
      flex-direction: column;
      align-items: flex-start;
      .header__main {
        flex-direction: column;
        width: 100%;
        
        
        

        &--logo {
          margin-bottom: 30px;
          margin-right: 0;
          width: 100%;
        }
        &--search {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 100%;
          margin: 0 auto;
        }
        
      }
      .header__info {
        justify-content: center;
        text-align: center;
        width: 100%;
        margin: 0 auto;

        &--shopping {
          position: relative;

          > span {
            top: -3px;
            left: 14px;
            
          }
        }
      }
    }
  }
  .nav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    transition: all 0.5s ease-in-out;
    z-index: 10;

    &__list {
      flex-direction: column;
      margin-top: 80px;

      li {
        margin-bottom: 10px;

        a {
          font-size: 12px;
        }
      }

      &--close {
        top: 42px;
        right: 65px;
        font-size: 20px;
        color: $button-red;
        visibility: visible;
      }
    }
  }
  .nav__hambur {
    position: absolute;
    top: 38px;
    right: 55px;
    display: block;
    font-size: 25px;
    color: $button-red;
    visibility: visible;
    z-index: 1;
  }

  .grand {

    &__main {
      
      flex-wrap: wrap;
      &--img {
        width: 100%;
        margin: 0 0 40px 0;
      }

      &--info {
        justify-content: center;
        flex-direction: row;

        .price {
          width: 45%;
          margin-right: 10px;
        }
        .map {
          width: 45%;
          margin-left: 10px;
          .gmap_canvas {
            overflow:hidden;
            background:none!important;
            height: 250px;
            width: 250px; 
            border-radius: 8px;
          }
        }
      }
    }
  }
  .package__header {
    padding-top: 30px;
    .header {
  
      ul {
        justify-content: center;

        li {
          padding: 10px;
          margin: 0 10px 5px 10px;
        }
      }
    }
  }

}
.show__bar {
  right: 0;
}

@include media-600 {
  .offer {

    &__info {
      &--heading {
        flex-wrap: wrap;

        .heading__main {
          padding-bottom: 10px;

          &--title {
            width: 100%;
            margin-right: 20px;
            
          }

          &--links {
            
            &__half {
              flex-wrap: nowrap;
              width: 70px;
            }
          }
        }
      }
    }
  }
  .grand {

    &__main {

      &--img {
        margin: 0 0 20px 0;
      }
      &--info {
        flex-wrap: wrap;
        justify-content: center;
        .price {
          width: 80%;
          margin-right: 0px;
          padding: 10px 20px;
        }
        .map {
          display: flex;
          justify-content: center;
          width: 100%;
          margin-left: 0px;
          margin: 0 auto;
          text-align: center;

          .gmap_canvas {
            overflow:hidden;
            background:none!important;
            height: auto;
            width: 80%; 
            border-radius: 8px;
            margin: 0 auto;
          }
        }
      }
    }
  }
}


@include media-500 {
  .container {
    padding: 0 30px;
  }
  .nav__hambur {
    top: 38px;
    right: 32px;
  }

}

@include media-400 {
  .grand {
    

    &__main {

      &--img {
        margin: 0 0 10px 0;
      }
      &--info {
        .price {
          width: 70%;
          margin-right: 0px;
          padding: 10px 20px;
          margin-bottom: 10px;

          &__start {
            &--price {
              &__start {
                font-size: 8px;
              }
              > h3 {
                font-size: 24px;
              }
              
            }
          }
          &__booking {
            font-size: 14px;
          }
          &__button {
            font-size: 12px;
          }
        }
        .map {

          .gmap_canvas {
            overflow:hidden;
            background:none!important;
            height: auto;
            width: 70%; 
            border-radius: 8px;
            margin: 0 auto;
          }
        }
      }
    }
  }
  .package__header {
    padding-top: 30px;
    .header {
  
      ul {
        flex-direction: column;
        justify-content: center;

        li {
          padding: 3px;
          margin: 0 10px 8px 10px;
        }
      }
    }
  }
}