/* Table of Contents */
/* 1. Font Family */
/* 2. Variables */
/* 3. General Styles */
/*  */

/*  */
/* 1. Font Family */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/open-sans-v23-latin-regular.woff2') format('woff2'),
    url('../fonts/open-sans-v23-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/open-sans-v23-latin-600.woff2') format('woff2'),
    url('../fonts/open-sans-v23-latin-600.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/open-sans-v23-latin-700.woff2') format('woff2'),
    url('../fonts/open-sans-v23-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/volkhov-v12-latin-regular.woff2') format('woff2'),
    url('../fonts/volkhov-v12-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/volkhov-v12-latin-700.woff2') format('woff2'),
    url('../fonts/volkhov-v12-latin-700.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v15-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/poppins-v15-latin-500.woff2') format('woff2'),
    url('../fonts/poppins-v15-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/poppins-v15-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v15-latin-600.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/poppins-v15-latin-700.woff2') format('woff2'),
    url('../fonts/poppins-v15-latin-700.woff') format('woff');
}

/*  */
/* 2. Variables */
:root {
  /* Colors */
  --black: #080809;
  --white: #ffffff;
  --lightBlack: #212832;
  --red: rgb(223, 105, 81);
  --darkBlue: #181E4B;
  --yellow: rgb(241, 165, 1);
  --lightBlue: #5E6282;
  --darkerBlack: #14183E;

  /* Font Sizes */
  --small: 14px;
  --normal: 16px;
  --medium: 18px;
  --large: 20px;
}

/*  */
/* 3. General Styles */
html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  font-size: var(--normal);
  font-weight: 400;
  min-height: 300vh;
  max-width: 1366px;
  margin: 0 auto;
  color: var(--lightBlue);
  overflow-x: hidden;
}

h1, h2 {
  font-family: 'Volkhov', sans-serif;
  margin: 0;
  padding: 0;
  font-weight: 700;
  line-height: 64px;
  color: var(--darkerBlack);
  font-size: 40px;
}
h4 {
  margin: 0;
  padding: 0;
  font-size: var(--small);
  font-weight: 600;
}
p {
  padding: 0;
  margin: 0;
}
a, 
a:visited,
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
.container {
  max-width: 1228px;
  padding: 0 106px;
  margin: 0 auto;
  overflow: hidden;
}

/*  */
/* 4. Navbar */
.header {
  background-image: 
  url("../img/hero__background-circle.svg"),
  url("../img/hero__background-line.svg"),
  url("../img/hero__plane.svg"),
  url("../img/hero__main-background.svg"),
  url("../img/hero__plane-second.svg"),
  url("../img/hero__background-rect.jpg");
  background-repeat: no-repeat;
  background-position: 
  right calc(50% + 730px) top -50px,
  right calc(50% + 220px) top 110px,
  left calc(50% + 100px) top 140px,
  left calc(50% + 240px) top 100px,
  left calc(50% + 470px) top 170px,
  left calc(50% + 440px) top -80px;
  background-size:
  500px 500px,
  300px 300px,
  110px 110px,
  560px 560px,
  110px 110px,
  650px 680px;
}
.nav {
  padding-top: 20px;
  
}
.nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav__logo a img {
  width: 100px;
  height: 39px;
}
.nav__logo a img:hover {
  opacity: 0.7;
}

.nav__list {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.nav__item-com a, .nav__item-login a {
  transition: all 0.3s ease;
}
.nav__item-com {
  margin-right: 30px;
}
.nav__item-com a:hover,
.nav__item-login a:hover {
  color: var(--yellow);
}
.nav__item-login {
  margin-left: 60px;
  margin-right: 30px;
}
.nav__item-sign {
  border: 1px solid var(--lightBlack);
  padding: 5px 7px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.nav__item-sign:hover {
  background-color: var(--yellow);
  border-color: var(--yellow);
}
.nav__item-sign:hover .nav__item-sign__link {
  color: var(--white);
}
.nav__item-sign__link {
  transition: all 0.3s ease;
}
.nav__item-lan {
  margin-left: 30px;
}
.nav__item-lan select {
  border: none;
  outline: none;
  background-color: transparent;
}
.nav__item-lan select:hover {
  color: var(--yellow);
}
.nav__item a {
  font-size: 15px;
  font-weight: 500;
  color: var(--lightBlack);
}
.nav__close {
  display: none;
}
.nav__hamburger {
  display: none;
}
.nav__hamburger div {
  width: 20px;
  height: 3px;
  margin: 3px 0;
  background-color: var(--yellow);
}

/* Hero Section */
.hero {
  padding-bottom: 60px;
}
.hero h3 {
  padding-top: 60px;
  color: var(--red);
  font-size: var(--large);
}
.hero h1 {
  font-size: 60px;
  margin-bottom: 20px;

}
.hero__text {
  line-height: 25px;
}
.hero__link {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 60px;
} 
.hero__link a {
  border: 1px solid var(--yellow);
  margin-right: 70px;
  padding: 10px 15px;
  border-radius: 5px;
  color: var(--white);
  background-color: var(--yellow);
  font-size: var(--small);
  box-shadow: 0px 6px 8px 10px rgba(237, 241, 1, 0.3);
  transition: all 0.3s ease;
}
.hero__link a:hover {
  background-color: transparent;
  border-color: var(--lightBlack);
  box-shadow: 0px 6px 8px 10px rgba(255, 255, 255, 1);
  color: var(--lightBlack);
}
.hero__play {
  display: flex;
  align-items: center;
}
.hero__play span {
  border: 1px solid var(--red);
  padding: 10px 13px 10px 15px;
  border-radius: 50%;
  background-color: var(--red);
  margin-right: 20px;
  box-shadow: 0px 8px 8px 6px rgba(223, 105, 81, 0.2);
}
.hero__play p {
  font-size: var(--small);
  cursor: pointer;
  color: #686D77;
}
.hero__play p:hover {
  color: var(--red);
}
/* Category */
.category {
  text-align: center;
  border: 1px solid lightcyan;
  background-image: 
  url("../img/category__background-plus.svg"), 
  url("../img/category__background-rect.svg");
  background-repeat: no-repeat;
  background-size: 130px 140px, 80px 80px;
  background-position: 
  left calc(50% + 550px) top 0,
  right calc(50% + 270px) bottom 80px;

}
.category h2 {
  margin: 10px 0 30px 0;
}
.category__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
  padding-bottom: 120px;
  
}
.category__item {
  width: 190px;
  margin-top: 40px;
  padding: 30px;
}

.category__weather h5, 
.category__event h5,
.category__costum h5 {
  padding-top: 22px;
}
.category__item h5 {
  margin-top: 0;
  font-size: var(--normal);
}
.category__item p {
  font-size: var(--small);
  line-height: 20px;
}
.category__plane img {
  width: 100px;
  height: 100px;
}
.category__plane {
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
















/*  */
/* Media Queries */
@media screen and (max-width: 1024px){
  .container {
    padding: 0 50px;
  }
  .nav__item-com {
    margin-right: 15px;
  }
  .nav__item-login {
    margin-left: 25px;
    margin-right: 15px;
    
  }
  .nav__item-lan {
    margin-left: 15px;
  }
}
@media screen and (max-width: 768px){
  /* Navbar */
  .nav {
    padding-top: 20px;
  }
  .nav__logo a img {
    width: 80px;
    height: 30px;
  }
  .nav__list {
    position: fixed;
    flex-direction: column;
    width: 70%;
    height: 100%;
    top: -20px;
    right: -100%;
    padding: 80px 0;
    background-color: rgb(250, 230, 148); 
    transition: all ease 0.8s;
  } 
  .nav__item {
    padding: 10px 0;
  }
  .nav__item-com {
    margin-right: 0px;
  }
  .nav__item-login {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 20px;
  }
  .nav__item-sign {
    padding: 5px 10px;
  }
  .nav__item-lan {
    margin-left: 0px;
  }
  .nav__item-lan select {
    background-color: transparent;
  }
  .nav__close {
    position: absolute;
    display: block;
    top: 31px;
    right: 52px;
    transform: scale(1.4);
    transition: all 0.3s ease;
  }
  .nav__close:hover, .nav__close:active {
    color: var(--yellow);
  }
  .nav__hamburger {
    display: block;
    transition: all 0.3s ease;
  }
  .nav__hamburger:hover .nav__hamburger-line,
  .nav__hamburger:active .nav__hamburger-line {
    background-color: var(--lightBlack);
  }
  h2 {
    font-size: 30px;
  }
  .category h2 {
    margin: 0px 0 10px 0;
  }
  .category {
    background-image: none;
  }

  /* Hero Section */
  .header {
    background-image: 
    url("../img/hero__background-circle.svg"),
    url("../img/hero__background-line.svg"),
    url("../img/hero__plane.svg"),
    url("../img/hero__main-background.svg"),
    url("../img/hero__plane-second.svg"),
    url("../img/hero__background-rect.jpg");
    background-repeat: no-repeat;
    background-position: 
    right calc(50% + 730px) top -50px,
    right calc(50% - 150px) top 550px,
    right calc(50% + 150px) top 100px,
    left calc(50% - 50px) top 100px,
    left calc(50% + 200px) top 170px,
    left calc(50% + 150px) top -80px;
    background-size:
    500px 500px,
    300px 300px,
    100px 100px,
    450px 450px,
    100px 100px,
    600px 600px;
  }
  .hero {
    text-align: center;
  }
  .hero h3 {
    margin-top: 500px;
    font-size: var(--medium);  
  }
  .hero h1 {
    font-size: 48px;
  }
  .hero__link {
    justify-content: center;
  }
  

}
.show__menu {
  right: 0;
}
@media screen and (max-width: 600px){
  .category__list {
    justify-content: center;
    margin: 0 auto;
  }
  .category__item {
    margin-top: 10px;
  }
}
@media screen and (max-width: 500px){
  .container {
    padding: 0 30px;
  }
  .category h2 {
    margin-top: 10px;
    font-size: 25px;
    line-height: 30px;
  }
  .nav__close {
    top: 31px;
    right: 33px;
  }
  /* Hero Section */
  .header {
    background-image: 
    url("../img/hero__background-circle.svg"),
    url("../img/hero__plane.svg"),
    url("../img/hero__main-background.svg"),
    url("../img/hero__plane-second.svg"),
    url("../img/hero__background-rect.jpg");
    background-repeat: no-repeat;
    background-position: 
    right calc(50% + 730px) top -50px,
    right calc(50% + 120px) top 100px,
    left calc(50% - 20px) top 100px,
    left calc(50% + 160px) top 150px,
    left calc(50% + 150px) top -80px;
    background-size:
    500px 500px,
    70px 70px,
    350px 350px,
    70px 70px,
    500px 500px;
  }
  .hero {
    text-align: center;
  }
  .hero h3 {
    margin-top: 350px;
    font-size: var(--normal);  
  }
  .hero h1 {
    font-size: 34px;
    line-height: 34px;
    letter-spacing: 0;
  }
  .hero__link {
    justify-content: center;
  }
  .hero__text {
    font-size: var(--small);
  }
}




























