.activity-site {
  margin-bottom: 50px;
  &__heading {
    margin: 60px 0 50px 0;
    text-transform: uppercase;
  }
  .activity {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    

    &__item {
      display: flex;
      justify-content: end;
      flex-direction: column;
      width: 23%;
      height: 250px;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 8px;
      padding: 0px 20px 24px 26px;
      
      > h4 {
        font-size: 16px;
        line-height: 20px;
        color: $white;
        font-weight: 600;
      }

      > a {
        display: inline-block;
        padding: 8px 20px;
        width: 100px;
        background-color: $button-red;
        color: $white;
        border-radius: 4px;
        margin-top: 18px;
        transform-origin: all 0.3s ease;

        &:hover {
          background-color: #ed4b69;
        }
        
      }
      
    }

    &__first {
      background:url('/img/activities__first.png'), linear-gradient(rgba(196, 196, 196, 0) 0%, rgba(10, 34, 61, 1.0)100%),
      ;
    }

    &__second {
      background:linear-gradient(rgba(196, 196, 196, 0) 5%, rgba(10, 34, 61, 1.0)100%),
      url('/img/activities__second.png');
    }

    &__third {
      background:linear-gradient(rgba(196, 196, 196, 0) 5%, rgba(10, 34, 61, 1.0)100%), url('/img/activities__third.png');
    }

    &__fourth {
      background:linear-gradient(rgba(196, 196, 196, 0) 5%, rgba(10, 34, 61, 1.0)100%), url('/img/activities__fourth.png');
    }
  }
}