.nav {
  background-color: $secondary-background;
  padding: 30px 0;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;

    li {
      cursor: pointer;

      a {
        color: $white;
        font-size: $font-s-13;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 18px;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: $button-red;
        }
      }
    }
    &--close {
      position: absolute;
      visibility: hidden;
     
    }
  }
}

.nav__hambur {
  position: absolute;
  display: none;
  visibility: hidden;
  z-index: -1;
}
