.package__header {

  padding-top: 60px;
  .header {

    ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      li {
        padding: 10px 5px;
        cursor: pointer;
        font-size: $font-s-14;
        font-weight: 700;
        transition: all 0.3s ease;
        border-bottom: 3px solid transparent;
        margin-bottom: 20px;

        &:hover {
          color: $button-red;
          border-bottom: 3px solid $button-red;
        }
      }
      .active {
        color: $button-red;
        border-bottom: 3px solid $button-red;
      }
    }
  }
}

.package__middle {
  
  .package__heading {
    margin-top: 20px;
    margin-bottom: 29px
  };

  .package {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 25px;
    
    &__highlight {
      width: 48%;
      border-radius: 10px;
      background-color: white;
      margin-bottom: 25px;

      &--header {
        font-size: $font-s-14;
        font-weight: 700;
        padding: 16px 0 16px 24px;
        color: $white;
        background-color: $secondary-background;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &--info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 27px 24px 0 24px;
        &__left {
          
          span {
            display: flex;
            align-items: center;
            padding-bottom: 20px;

            img {
              margin-right: 15px;
            }
          }
        }
      }


    }

    &__details {
      width: 48%;
      border-radius: 10px;
      background-color: white;
      margin-bottom: 25px;

      &--header {
        font-size: $font-s-14;
        font-weight: 700;
        padding: 16px 0 16px 24px;
        color: $white;
        background-color: $secondary-background;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }
      &--info {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 27px 24px 0 24px;
        
        &__left {
          
          span {
            display: flex;
            align-items: flex-start;
            padding-bottom: 20px;

            img {
              margin-right: 15px;
            }
            p {
              width: 150px;
            }
          }

          &--date {
            padding: 8px 0 22px 30px;
          }
        }

        &__right {
          display: flex;
          align-items: center;
          padding-bottom: 30px;

          img {
            margin-right: 15px;
          }
        }
      }
    }
  }
}