.subscribe-site {
  padding: 100px 0 80px 0;
  background:linear-gradient( rgba(10, 34, 61, 0.8) 100%, rgba(0, 0, 0, 0.5)100%),url('/img/subscribe__main-background.png');
  background-repeat: no-repeat;
  background-size: cover;

  .subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    

    &__heading {
      color: white;
      margin-right: 100px;
      margin-bottom: 20px;

      >h3 {
        font-weight: 400;
        margin-bottom: 5px;
      }
      >h2 {
        font-weight: 500;
        line-height: 45px;
        text-transform: uppercase;
      }
    }

    &__input {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: nowrap;

      > input {
        width: 280px;
        height: 55px;
        font-size: $font-s-14;
        padding: 19px 0 18px 39px;
        outline: none;
        border: none;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;

        &::placeholder {
          color: #BDBDBD;
          font-weight: 300;
        }
      }

      > a {
        display: inline-block;
        height: 55px;
        padding: 20px 18px;
        font-weight: 600;
        color: $white;
        background-color: $button-red;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        transition: all 0.5s ease-in-out;

        &:hover {
          background-color: #ed4b69;
        }
      }
    }
  }
}