.header {
  background-color: $main-background;
  padding: 20px 0;
  
  .top__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
  
    &--contact {
      display: flex;
  
      p {
        margin-right: 20px;
        font-weight: 700;
      }
  
      span {
  
      }
    }
  
    &--info {
      display: flex;
      align-items: center;
  
      &__gift {
        display: flex;
        align-items: center;
        margin-right: 98px;
  
        img {
          margin-right: 20px;
        }
      }
  
      &__loyalty {
        display: flex;
        align-items: center;
  
        img {
          margin-right: 20px;
        }
      }
    }
  }
}