// Colors
$black: #000000;
$lighterBlack: #1F1534;
$blue: #4089ED;
$wildBlue: #458FF6;
$white: #ffffff;
$grey: #7D7987;
$bluelinearstart: #67C3F3;
$bluelinearend: #5A98F2;

// Font Sizes
$font-very-sm: 16px;
$font-sm: 18px;
$font-med: 20px;
$font-med-high: 21px;
$font-lg: 36px;
$font-xlg: 48px;