// Colors
$kashmirBlue: #505F98;
$darkBlue: #091133;
$wildBlue: #6F7CB2;
$midGray: hsl(0, 0%, 98%);
$white: #ffffff;
$lightBlue: #929ECC;
$midnightExpress: #111B47;
$regentGrey: #939EA4;

// Font Sizes
$font-very-sm: 12px;
$font-sm: 14px;
$font-med: 16px;
$font-med-high: 18px;
$font-lg: 36px;
$font-xlg: 50px;
