  
/* Table of contents */
/* 1. FONTS */
/* 2. GENERAL STYLES */
/* 3. CONTAINER */
/* 4. SITE-HEADER */
/* 5. LOGO */
/* 6. EXCHANGE-RATES */
/* 7. SEARCH-BUTTON */
/* 8. LANGUAGE-TOGGLER */
/* 9. TELEGRAM-SUB */
/* 10. SITENAV */
/* 10. TOP-BANNER */
/* SITE-FOOTER */
/* MEDIA QUERIES */
/* KEYFRAMES */


/* FONTS */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/rubik-v12-latin-500.woff2") format("woff2"), 
    url("../webfonts/rubik-v12-latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/rubik-v12-latin-regular.woff2") format("woff2"), 
    url("../webfonts/rubik-v12-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../webfonts/rubik-v12-latin-700.woff2") format("woff2"),
    url("../webfonts/rubik-v12-latin-700.woff") format("woff");
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/roboto-v27-latin-regular.woff2") format("woff2"), 
    url("../webfonts/roboto-v27-latin-regular.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../webfonts/roboto-v27-latin-italic.woff2") format("woff2"), 
    url("../webfonts/roboto-v27-latin-italic.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/roboto-v27-latin-500.woff2") format("woff2"), 
    url("../webfonts/roboto-v27-latin-500.woff") format("woff"); 
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../webfonts/roboto-v27-latin-500italic.woff2") format("woff2"),
    url("../webfonts/roboto-v27-latin-500italic.woff") format("woff");
}

/* GENERAL STYLES */
html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: "Rubik", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #434343;
  padding: 0;
  margin: 0;
}
*:focus {
  outline: 0;
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
img {
  max-width: 100%;
  height: auto;
}
/* CONTAINER */
.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

/* SITE HEADER */
.site-header {
  border-top: 4px solid #295093;
  background-color: #F6F6F9;
  padding-top: 40px;
  padding-bottom: 23px;
}
.site-header__top {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 40px;
}
.site-header__actions {
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
}
.logo {
  display: flex;
  border-radius: 5px;
  background-color: #fff;
  padding: 4px;
  padding: 8px;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  margin-right: 17px;
  transition: transform 0.3s ease;
  -webkit-transition: transform 0.3s ease;
  -moz-transition: transform 0.3s ease;
  -ms-transition: transform 0.3s ease;
  -o-transition: transform 0.3s ease;
}
.logo:hover {
  transform: scale(1.025);
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -ms-transform: scale(1.025);
  -o-transform: scale(1.025);
}
.logo:focus {
  box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
}
/* EXCHANGE RATES */
.exchange-rates {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0;
  margin: 0;
  margin-left: 17px;
  list-style-type: none;
  color: #7A7A7A
}
.exchange-rates__item:not(:last-child){
  margin-right: 26px;
}
.exchange-rates__icon {
  color: #285193;
}
/* SEARCH BUTTON */
.search-button {
  border: none;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 22px;
}
.search-button__wrapper {
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* LANGUAGE TOGGLER */
.language-toggler {
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  margin-right: 24px;
  cursor: pointer;
}
.language-toggler__img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
}
.search-button,
.language-toggler, .telegram-sub {
  transition: box-shadow 0.3s ease;
  -webkit-transition: box-shadow 0.3s ease;
  -moz-transition: box-shadow 0.3s ease;
  -ms-transition: box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  cursor: pointer;
}
.search-button:hover,
.language-toggler:hover,
.telegram-sub:hover {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.language-toggler__wrapper {
  display: flex;
  align-items: center;
  font-weight: bold;
}
.site-header__toggler {
  display: none;
}
/* TELEGRAM SUB */
.telegram-sub {
  display: flex;
  align-items: center;
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}
.telegram-sub:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
}
.telegram-sub--dark {
  background-image: linear-gradient(90deg, #1E96C8 15.07%, #37AEE2 85.96%);
  background-color: #1E96C8;
  color: #fff;
}
.telegram-sub--dark:hover {
  background-image: linear-gradient(90deg, #37AEE2 15.07%, #1E96C8 85.96%);
  background-color: #37AEE2 ;
}
.telegram-sub--white {
  background-color: #fff;
  color: #295093;
  flex-shrink: 0;
}
.telegram-sub__img {
  margin-right: 7px;
}
.telegram-sub__text {
  font-weight: 500;
}

/* MAIN_CONTENT */
.main-content {
  flex-grow: 1;
}
















/* SITENAV */
.sitenav {
  background-color: #fff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  margin-bottom: 18px;
  font-size: 19px;
  font-weight: 500;
  line-height: 23px;
}
.sitenav__list {
  display: flex;
  align-items: center;
  padding: 17px 12px;
  margin: 0;
  list-style-type: none;
  flex-wrap: wrap;
}
.sitenav__item {
  margin: 5px 15px;
}

.sitenav__link {
  text-decoration: none;
  color: #515151;
  transition: color 0.3 ease;
}
.sitenav__link:hover {
  color: #295091;
}

/* TOP BANNER */
.top-banner__link {
  display: flex;
}

/* SITE-FOOTER */
.site-footer {
  background-color: #295093;
  padding: 18px 0;
  color: #fff;
  font-style: 14px;
  line-height: 17px;
}
.site-footer *:focus {
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.4);
}
.site-footer__top {
  display: flex;
  align-items: center;

}
.site-footer__logo {
  flex-shrink: 0;
  margin-right: auto;
  background-color: #133C82;
  border-radius: 5px;
  display: flex;
  padding: 10px;
}
.site-footer__sub-text {
  margin: 0;
  margin-right: 17px;
  padding-left: 25px;
  padding-right: 25px;
}
.site-footer__bottom {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
}
.site-footer__about {
  max-width: 365px;
  margin-right: 110px;
}
.site-footer__heading {
  font-size: 14px;
  line-height: 17px;
  margin-top: 0;
}
.site-footer__nav {
  display: flex;
  flex-wrap: wrap;
  max-width: 520px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.site-footer__nav-item {
  width: 50%;
  margin-bottom: 10px;
  padding-right: 15px;
}
.site-footer__link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;  
}
.site-footer__link:hover {
  text-decoration: underline;
}
.site-footer__divider {
  height: 3px;
  border: none;
  background-color: #133C82;
  margin-top: 18px;
  margin-bottom: 12px;
}





















/* MEDIA QUERIES */
@media (max-width: 1060px) {
  .site-footer__about, .site-footer__nav {
    max-width: 100%;
    width: 50%;
    padding-right: 30px;
    margin-right: 0;

  }
}
@media (max-width: 1000px) {
  .site-header {
    padding-top: 20px;
  }
  .site-header__logo {
    margin-left: 0;
  }
  .site-header__top {
    align-items: stretch;
  }
  .exchange-rates {
    order: -1;
    width: 100%;
    justify-content: center;
    margin-bottom: 15px;
  }
}
@media (max-width: 850px) {
  .site-header__top {
    margin-bottom: 20px;
  }
  .exchange-rates {
    line-height: 17px;
    font-size: 14px;
  }
  .sitenav {
    font-size: 16px;
    line-height: 20px;
  }
  .site-nav__item {
    margin-top: 13px;
    margin-bottom: 13px;
  }
  .site-footer__about, .site-footer__nav {
    width: 100%;
  }
  .site-footer__about {
    order: 1;
  }
  .site-footer__nav {
    margin-bottom: 20px;
  }
}
@media (max-width: 750px) {
  .page__body {
    margin-top: 82px;
  }
  .site-header {
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
  }
  .site-header__top {
    margin-bottom: 0;
  }
  .exchange-rates,
  .search-button,
  .language-toggler,
  .telegram-sub--dark,
  .sitenav {
    display: none;
  }
  .sitenav {
    margin-bottom: 0;
    transition: transform 0.3s ease;
    transform: translateX(120%);
    -webkit-transform: translateX(120%);
    -moz-transform: translateX(120%);
    -ms-transform: translateX(120%);
    -o-transform: translateX(120%);
}
  .site-header__toggler {
    position: relative;
    z-index: 20;
    display: block;
    padding: 10px;
    border: none;
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
    -ms-transition: box-shadow 0.3s ease;
    -o-transition: box-shadow 0.3s ease;
  }  
  .site-header__toggler:focus {
    box-shadow: 0 0 0 4px rgba(41, 80, 147, 0.4);
  }
  .top-banner {
      display: none;
  }
  .sitenav--open {
    display: none;
    position: fixed;
    z-index: 15;
    top: 0;
    right: 0;
    bottom: 0;
    width: 65%;
    border-radius: 0;
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.2);
    transform: translateX(0%);
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    animation: sitenav-slide-in 0.3 ease 1 forwards;
    -webkit-animation: sitenav-slide-in 0.3 ease 1 forwards;
}
  .sitenav--open .sitenav__list {
    flex-direction: column;
    align-items: flex-end;
    padding: 20px;
    padding-top: 82px;
}
  .sitenav--open .sitenav__item {
    margin: 0;
    width: 100%;
    text-align: right;
    padding: 10px;
    margin: 0 5px;
  }
  .sitenav--open .sitenav__item:not(:last-child) {
    border-bottom: 1px solid #515151;
  }
  .sitenav--open .sitenav__item:active {
    background-color: #295091;
    color: #fff;
  }
  .sitenav--open .sitenav__link {
    transition: color 0.3s ease, background-color 0.3s ease;
}
  .sitenav--open .sitenav__link:active {
    color: #fff;
  }
  .sitenav--open .sitenav__item:not(:last-child) {
    margin-bottom: 5px;
  }
  .site-footer__top {
    flex-wrap: wrap;
  }
  .site-footer__sub-text {
    order: 1;
    width: 100%;
    padding: 0;
    margin-top: 0px;
    text-align: right;
  }
}
@media (max-width: 750px) {
  .logo__img {
    width: 220px;
  }
}
@media (max-width: 500px) {

}

/* KEYFRAMES */
@keyframes sitenav-slide-in {
  from {
    transform: translateX(120%);
  }
  to {
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
}
}