// Font Family
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/nunito-v16-latin-300.woff2') format('woff2'),
    url('../fonts/nunito-v16-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/nunito-v16-latin-regular.woff2') format('woff2'),
    url('../fonts/nunito-v16-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/nunito-v16-latin-600.woff2') format('woff2'),
    url('../fonts/nunito-v16-latin-600.woff') format('woff2');
}
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/nunito-v16-latin-700.woff2') format('woff2'),
    url('../fonts/nunito-v16-latin-700.woff') format('woff');
}
// Variables
// Font Sizes
$font-sm: 1rem;
$font-xsm: 1.25rem;
$font-med: 1.5625;
$font-xmed: 2rem;
$font-lg: 3.3rem;
$font-xlg: 3.1875rem; 

// Colors
$buttonLinear: linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
$blueGrey: #485466;
$blue: #4E92F9;
$white: #ffffff;
$h2Black: #242A33;
$textBlueGrey: #5A6980;
$h5BlueGrey: #6C7E99;
$darkBlue: #7E92B2;
$h5LightBlack: #363F4D;
$lightBlue: #90A8CC;

// General Styles
html {
  font-size: 16px;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Nunito', sans-serif;
  line-height: 1.3;
  font-weight: 400;
  min-height: 300vh;
  background-image: 
  url("../images/website__main-background.png"),
  url("../images/body__background-white.svg"),
  url("../images/body__background-linear.svg"),
  url("../images/hero__background-circle.svg");
  background-repeat: no-repeat;
  background-position: 
  left calc(50% + 5rem) top 7.5rem,
  left calc(50% - 0px) top 0px,
  left calc(50% - 0px) top 0px,
  left calc(50% - 1080px) top -20rem;
}
h1, h2, h3 {
  font-weight: 700;
  line-height: 48px;
  color: $h2Black;
  font-size: $font-lg;
}
h5 {
  font-weight: 700;
  font-size: $font-xsm;
  color: $h5BlueGrey;
}
p {
  line-height: 1.375rem;
  color: $textBlueGrey;
}
a, 
a:visited,
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
}
.container {
  max-width: 1140px;
  padding: 0 390px;
  margin: 0 auto;
  overflow-x: hidden;
  border: 1px solid lightgreen;
}
.button {
  display: flex;
  width: 7rem;
  height: 2.25rem;
  justify-content: center;
  align-items: center;
  background-image: $buttonLinear;
  color: $white;
  padding: .25rem .5rem;
  margin: 0;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  border-radius: 8px;
  box-shadow: 0px 7px 20px rgba(195, 129, 219, 80%);
  line-height: 1.5rem;
  letter-spacing: .1rem;
}
.button:hover {
  background-image: linear-gradient(112.77deg, #4E92F9 0%, #C381DB 100%);
}
@media screen and (max-width: 1900px){
  .container {
    padding: 0 113px;
  }
}
@media screen and (max-width: 1440px){
  html {
    font-size: 15px;
  }
  .container {
    padding: 0 113px;
  }
}
@media screen and (max-width: 1366px){
  html {
    font-size: 14px;
  }
  .container {
    padding: 0 103px;
  }
  body {
    background-size: 1366px auto,
    auto,
    auto,
    auto;
    background-position: 
    left calc(50% + 0rem) top 7.5rem,
    left calc(50% - 0px) top 0px,
    left calc(50% - 0px) top 0px,
    left calc(50% - 1080px) top -20rem;
  }
}
@media screen and (max-width: 1024px){
  html {
    font-size: 13px;
  }
  .container {
    padding: 0 80px;
  }
}

@media screen and (max-width: 840px){
  html {
    font-size: 13px;
  }
  .container {
    padding: 0 60px;
  }
}

@media screen and (max-width: 500px){
  html {
    font-size: 12px;
  }
  .container {
    padding: 0 30px;
  }
}
