.site-header {
  position: fixed;
  width: 100%;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 14.06%, rgba(255, 255, 255, 0.8) 85.42%, rgba(255, 255, 255, 0) 100%);
  backdrop-filter: blur(111px);
  background-repeat: no-repeat;
}

.nav {
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  &__main {
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
    &-logo {
      margin-right: 4rem;
      > img {
        width: 6.6875rem;
        height: 2.0625rem;
      }
    }
    &-list {
      position: relative;
      display: flex;
      align-items: center;
      > li {
        display: flex;
        align-items: center;
        &:not(:last-child){
          margin-right: 2rem;
        }
        &:hover {
          transition: all 0.3s ease-in-out;
          > i {
            background: -webkit-linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
          }
          > select {
            background: -webkit-linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
          }
        }
        > select {
          border: none;
          background-color: transparent;
          outline: none;
          appearance: none;
          color: $blueGrey;
          
          
          
          > option {
            background: rgb(222, 247, 255);   
          }
        }
        
      }
    }
    &-close {
      display: none;
      background: -webkit-linear-gradient(135deg, #C381DB, #4E92F9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 25px;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: -webkit-linear-gradient(135deg, #8800ba, #0066ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
      
    }
  }

  &__links {
    display: flex;
    align-items: center;
    padding: 1.25rem 0;

    &-simple {
      margin-right: 1rem;
      > a {
        font-weight: bold;
        color: $blue;
        transition: all 0.3s ease-in-out;
        &:hover {
          background: -webkit-linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
        }
      }
    }
    &-max {
      background-color: $white;
      border-radius: 8px;
      box-shadow: 0px 7px 20px rgba(49, 69, 255, 0.13);
      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.6875rem;
        height: 2.25rem;
        font-weight: bold;
        background: -webkit-linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:hover {
        background: $buttonLinear;

        > a {
          background: -webkit-linear-gradient(135deg, #ffffff, #fdfdfd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        }
      }
    }
  }

  &__menu {
    display: none;
    > i {
      background: -webkit-linear-gradient(135deg, #C381DB, #4E92F9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 20px;
      transition: all 0.3s ease-in-out;
      &:hover {
        background: -webkit-linear-gradient(135deg, #8800ba, #0066ff);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      }
    }
  }
} 

@media screen and (max-width:1366px){
  .site-header {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 1) 14.06%, rgba(255, 255, 255, 1) 85.42%, rgba(255, 255, 255, 0.8) 100%);
  }
}
@media screen and (max-width:840px){
  .nav__main-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    background-color: rgb(208, 255, 237);
    flex-direction: column;
    transition: .8s;
    padding: 100px 100px 400px 150px;
    padding-left: 110px;
    z-index: 1000;
    box-sizing: border-box;
    li {
      top: 0;
      right: 0;
      margin: 0;
      padding: 10px 0;
      font-size: 15px;
    }
  }
  .nav__links {
    justify-content: center;
    position: fixed;
    flex-direction: row;
    position: fixed;
    top: 300px;
    width: 70%;
    right: -100%; 
    transition: .8s;
    font-size: 15px;
    z-index: 1100;
  }
  .nav__menu {
    display: block;
  }
  .nav__main-close {
    display: block;
    position: absolute;
    top: 16px;
    right: 58px;
  }
}
.show__menu {
  right: 0;
}
.show__links {
  right: 0;
}

@media screen and (max-width:500px){
  .nav__main-close {
    display: block;
    position: absolute;
    top: 14px;
    right: 28px;
  }
}