.site-header {
  background-color: rgba(255, 255, 255, 80%);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;

  &__main {
    padding: 1.25rem 0;
    display: flex;
    align-items: center;
    &-logo {
      margin-right: 4rem;
      > img {
        width: 6.6875rem;
        height: 2.0625rem;
      }
    }
    &-list {
      position: relative;
      display: flex;
      align-items: center;
      > li {
        display: flex;
        align-items: center;
        &:not(:last-child){
          margin-right: 2rem;
        }
        &:hover {
          transition: all 0.3s ease-in-out;
          > i {
            background: -webkit-linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
          }
          > select {
            background: -webkit-linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
          }
        }
        > select {
          border: none;
          background-color: transparent;
          outline: none;
          appearance: none;
          color: $blueGrey;
          
          
          
          > option {
            background: rgb(222, 247, 255);   
          }
        }
        
      }
    }
    &-close {
      display: none;
    }
  }

  &__links {
    display: flex;
    align-items: center;
    padding: 1.25rem 0;

    &-simple {
      margin-right: 1rem;
      > a {
        font-weight: bold;
        color: $blue;
        transition: all 0.3s ease-in-out;
        &:hover {
          background: -webkit-linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
           -webkit-background-clip: text;
           -webkit-text-fill-color: transparent;
        }
      }
    }
    &-max {
      background-color: $white;
      border-radius: 8px;
      box-shadow: 0px 7px 20px rgba(49, 69, 255, 0.13);
      > a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.6875rem;
        height: 2.25rem;
        font-weight: bold;
        background: -webkit-linear-gradient(112.77deg, #C381DB 0%, #4E92F9 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      }
      &:hover {
        background: $buttonLinear;

        > a {
          background: -webkit-linear-gradient(135deg, #ffffff, #fdfdfd);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        
        }
      }
    }
  }

  &__menu {
    display: none;
    > i {
      background: -webkit-linear-gradient(135deg, #C381DB, #4E92F9);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-size: 20px;
    }
  }
} 


@media screen and (max-width:840px){
  .nav__main-list {
    position: fixed;
    bottom: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    background-color: lightgreen;
    flex-direction: column;
    transition: .8s;
  }
  .nav__links {
    flex-direction: column;
    position: fixed;
    top: 30px;
    right: -100%;
    transition: .8s;
  }
  .nav__menu {
    display: block;
  }
  .nav__main-close {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 25px;
  }
}
.show__menu {
  right: 0;
}
.show__links {
  right: 0;
}