// Font Sizes
$font-sm: 16px;
$font-xsm: 20px;
$font-med: 25px;
$font-xmed: 32px;
$font-lg: 40px;
$font-xlg: 51px; 

// Colors
$buttonLinear: linear-gradient(135%, #C381DB, #4E92F9);
$blueGrey: #485466;
$blue: #4E92F9;
$white: #ffffff;
$h2Black: #242A33;
$textBlueGrey: #5A6980;
$h5BlueGrey: #6C7E99;
$darkBlue: #7E92B2;
$h5LightBlack: #363F4D;
$lightBlue: #90A8CC;
