// Colors
$black: #000000;
$lightBlack: #373F41;
$darkBlue: #3C64B1;
$midGray: #EDEDED;
$white: #ffffff;
$lightGrey: #737B7D;
$regentGrey: #E0E6F2;

// Font Sizes
$font-very-sm: 12px;
$font-sm: 14px;
$font-med: 16px;
$font-med-high: 18px;
$font-lg: 36px;
$font-xlg: 44px;