// Font Family
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('../fonts/poppins-v15-latin-300.woff2') format('woff2'),
    url('../fonts/poppins-v15-latin-300.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/poppins-v15-latin-regular.woff2') format('woff2'),
    url('../fonts/poppins-v15-latin-regular.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/poppins-v15-latin-500.woff2') format('woff2'),
    url('../fonts/poppins-v15-latin-500.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('../fonts/poppins-v15-latin-600.woff2') format('woff2'),
    url('../fonts/poppins-v15-latin-600.woff') format('woff');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/poppins-v15-latin-700.woff2') format('woff2'),
    url('../fonts/poppins-v15-latin-700.woff') format('woff');
}

// Variables
// Colors
$white: #ffffff;
$orange: #CE7A2D;
$greyBlue: #868FA1;
$lightBlack: rgb(38, 38, 38);
$lighterBlack: rgb(45, 45, 45);
$black66: rgb(66, 66, 66);
$darkerWhite: #F8F9F9;
$dark: #262626;

// Font Sizes
$font-ssm: 0.75rem;
$font-sm: 0.875rem;
$font-xsm: 1rem;
$font-smed: 1.125rem;
$font-med: 1.75rem;
$font-xmed: 2.75rem;
$font-lg: 3rem;
$font-xlg: 4.5rem;

// Global Styles
html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.75rem;
  font-size: 16px;
  font-weight: 400;
  min-height: 300vh;
  color: #798294;
}
h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 4.125px;
  color: $white;
  font-size: $font-lg;
}
p {
  padding: 0;
  margin: 0;
}
a, 
a:visited,
a:hover {
  text-decoration: none;
}
ul {
  list-style-type: none;
  padding: 0;
}
// Spacing
.container {
  max-width: 1200px;
  padding: 0 120px;
  margin: 0 auto;
  overflow-x: hidden;
}
// Buttons
.button {
  display: flex;
  width: 8.4375;
  height: 3.125;
  justify-content: center;
  align-items: center;
  color: $white;
  margin: 0;
  text-align: center;
  cursor: pointer;
  font-size: $font-very-sm;
  font-family: 700;
  border: 1px solid $white;
  border-radius: 2rem;
  transition: all 0.3s ease-in-out;
}
.button:hover {
  background-color: $orange; 
  border: none;
}