.hero {
  padding: 90px 0 200px 0;
  text-align: center;
  &__heading {
    font-size: $font-xlg;
    font-weight: 600;
    margin-bottom: 24px;
  }

  > p {
    width: 562px;
    margin: 0 auto;
    color: $white;
    font-weight: 300;
    margin-bottom: 24px;
    line-height: 28px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    font-size: $font-sm;
    font-weight: 600;
    > a {
      margin: 0 8px;
    }
    &-orange {
      background-color: $orange;
      border: 2px solid transparent;
      &:hover {
        border-color: $white;
        background-color: transparent;
      }
    }
  }
}


@media screen and (max-width: 1366px){
  .hero {
    padding: 90px 0 210px 0;
    &__heading {
      font-size: 60px;
      margin-bottom: 24px;
    }
  
    
  }
}
@media screen and (max-width: 1024px){
  .hero {
    padding: 60px 0 120px 0;
    text-align: center;
    &__heading {
      font-size: $font-lg;
      font-weight: 600;
      margin-bottom: 20px;
    }
  
    > p {
      margin-bottom: 20px;
    }
  }
}
@media screen and (max-width: 768px){
  .hero {
    padding: 60px 0 120px 0;
    text-align: center;
    &__heading {
      font-size: 38px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  
    > p {
      width: 100%;
      margin-bottom: 20px;
    }
  }
  
}
@media screen and (max-width: 500px){
  .hero {
    padding: 60px 0 120px 0;
    &__heading {
      font-size: $font-med;
      margin-bottom: 18px;
    }
  
    > p {
      font-size: $font-sm;
      width: 100%;
      margin-bottom: 18px;
      line-height: 24px;
    }
  
    &__button {
      font-size: $font-sm;
      > a {
        margin: 0 4px;
      }
    }
  }
  
}