.portfolio {
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
  padding: 130px 0;

  > h2 {
    margin-bottom: 8px;
  }
  &__text {
    width: 613px;
    margin: 0 auto 80px auto;
    line-height: 28px;
  }
  &__img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    > div {
      width: 33.333%;
      margin: 0 -1px -5px -1px;
      > img {
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
      }
    }
    &-img {
      position: relative;

      > div {
        position: absolute;
        bottom: 30px;
        left: 30px;
        z-index: 10;
        text-align: left;
        width: 80%;
        color: $white;

        > h4 {
          font-size: 28px;
          font-weight: 600;
          margin: 0 0 16px 0;
        }
        > p {
          line-height: 24px;
          font-size: $font-sm;
        }
      }
    }
  }
}

@media screen and (max-width:768px){
  .portfolio {
    padding: 80px 0;
    > h2 {
      font-size: 22px;
    }
    &__text {
      width: 80%;
      margin: 0 auto 40px auto;
    }
    &__img {
      > div {
        width: 50%;
        
      }
      
    }
  }
  
}
@media screen and (max-width:500px){
  .portfolio {
    padding: 60px 0;
    > h2 {
      font-size: 22px;
    }
    &__text {
      width: 90%;
      margin: 0 auto 40px auto;
      font-size: $font-sm;
      line-height: 20px;
    }
    &__img {
      > div {
        width: 100%;
        margin: 0 0px -5px 0px;
        
      }
      
    }
  }
  
}