.service {
  text-align: center;
  background-color: $lightBlack;
  padding: 130px 0;

  &__heading {
    margin-bottom: 8px;
  }
  &__heading-text {
    width: 615px;
    margin: 0 auto;
    line-height: 28px;
  }

  &__list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 80px;
    margin: 70px -8px 0 -8px;
    &-item {
      width: 22%;
      background-color: $lighterBlack;
      margin: 10px;
      padding: 40px;

      > h4 {
        margin: 8px 0 0 0;
        color: $white;
        font-size: $font-smed;
        font-weight: 600;
      }
      > p {
        font-size: $font-sm;
      }
    }
  }
}

@media screen and (max-width:1366px) {
  .service {
    padding: 110px 0;
    &__heading-text {
      width: 615px;
      margin: 0 auto;
      line-height: 28px;
    }
  
    &__list {
      margin: 70px -15px 0 -15px;
      &-item {
        margin: 15px;
        padding: 30px;

        > p {
          font-size: $font-sm;
        }
      }
    }
  }
}

@media screen and (max-width:1024px) {
  .service {
    padding: 90px 0;
    &__heading-text {
      width: 615px;
      margin: 0 auto;
      line-height: 28px;
    }
  
    &__list {
      margin: 70px -15px 0 -15px;
      &-item {
        width: 35%;
        margin: 15px;
        padding: 30px;

        > p {
          font-size: $font-sm;
        }
      }
    }
  }
}

@media screen and (max-width:768px) {
  .service {
    padding: 70px 0;
    &__heading {
      font-size: 22px;
    }
    &__heading-text {
      width: 100%;
      margin: 0 auto;
      font-size: $font-sm;
    }
  
    &__list {
      margin: 50px auto 0 auto;
      &-item {
        width: 100%;
        margin-bottom: 10px;
      }
    }
  }
}

@media screen and (max-width:500px) {
  .service {
    padding: 40px 0;
    &__heading {
      font-size: 20px;
    }
    &__heading-text {
      font-size: $font-sm;
      line-height: 20px;
    }
    &__list {
      margin: 50px auto 0 auto;
      &-item {
        width: 100%;
        margin-bottom: 10px;
        > h4 {
          font-size: $font-xsm;
        }
      }
    }
  }
}