@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("../fonts/poppins-v15-latin-300.woff2") format("woff2"), url("../fonts/poppins-v15-latin-300.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/poppins-v15-latin-regular.woff2") format("woff2"), url("../fonts/poppins-v15-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/poppins-v15-latin-500.woff2") format("woff2"), url("../fonts/poppins-v15-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/poppins-v15-latin-600.woff2") format("woff2"), url("../fonts/poppins-v15-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/poppins-v15-latin-700.woff2") format("woff2"), url("../fonts/poppins-v15-latin-700.woff") format("woff");
}
html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.3;
  font-weight: 400;
  color: #798294;
  background-color: #262626;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  color: #ffffff;
  font-size: 44px;
}

p {
  padding: 0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  padding: 0 120px;
  margin: 0 auto;
  overflow-x: hidden;
  border: 1px solid #7bd7f8;
}

.button {
  display: flex;
  width: 135px;
  height: 50px;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  margin: 0;
  text-align: center;
  cursor: pointer;
  font-family: 700;
  border: 2px solid #ffffff;
  border-radius: 32px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #CE7A2D;
  border-color: transparent;
}

.team__blog-line {
  border-color: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 1366px) {
  .container {
    max-width: 1150px;
    padding: 0 108px;
    border-color: red;
  }

  h2 {
    font-size: 40px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 0 60px;
    border-color: darkslateblue;
  }
}
@media screen and (max-width: 500px) {
  .container {
    padding: 0 30px;
    border-color: red;
  }
}
.header {
  background-image: url("../images/hero__background-img.png");
  background-repeat: no-repeat;
  background-position: left calc(50% + 0px) top 0;
  background-size: auto;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 33px 0 45px 0;
}

.header__nav-logo {
  line-height: 0;
}
.header__nav-logo > svg {
  fill: #ffffff;
  transition: 0.3s ease-in-out;
}
.header__nav-logo > svg:hover {
  fill: #CE7A2D;
}

.header__nav-list {
  position: relative;
  display: flex;
  align-items: center;
}
.header__nav-list > li > a {
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
.header__nav-list > li > a:hover {
  color: #CE7A2D;
}
.header__nav-list > li:first-child > a {
  color: #CE7A2D;
}
.header__nav-list__item {
  margin-right: 24px;
}
.header__nav-list .close__icon {
  display: none;
}

.header__nav-menu {
  display: none;
  flex-direction: column;
}
.header__nav-menu > span {
  width: 25px;
  height: 1px;
  padding: 1px;
  background-color: #ffffff;
}
.header__nav-menu > span:not(:last-child) {
  margin-bottom: 5px;
}
.header__nav-menu:hover > span, .header__nav-menu:active > span {
  background-color: #CE7A2D;
}

@media screen and (max-width: 768px) {
  .header__nav-list {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    flex-direction: column;
    background-color: #424242;
    transition: 0.8s;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .header__nav-list > li {
    margin: 10px 0;
  }
  .header__nav-list > li > a {
    font-size: 14px;
  }
  .header__nav-list .close__icon {
    display: block;
    position: absolute;
    top: 38px;
    right: 66px;
    transform: scale(2.5);
    color: #ffffff;
  }
  .header__nav-list .close__icon:hover, .header__nav-list .close__icon:active {
    color: #CE7A2D;
  }

  .header__nav-menu {
    display: flex;
  }
}
.show__right {
  right: 0;
}

@media screen and (max-width: 1024px) {
  .header {
    background-size: 1024px 600px;
  }
}
@media screen and (max-width: 768px) {
  .header {
    background-size: 1024px 700px;
  }
}
@media screen and (max-width: 500px) {
  .header {
    background-size: 768px 650px;
  }

  .header__nav-list .close__icon {
    top: 38px;
    right: 36px;
  }
}
.hero {
  padding: 90px 0 200px 0;
  text-align: center;
}
.hero__heading {
  font-size: 72px;
  font-weight: 600;
  margin-bottom: 24px;
}
.hero > p {
  width: 562px;
  margin: 0 auto;
  color: #ffffff;
  font-weight: 300;
  margin-bottom: 24px;
  line-height: 28px;
}
.hero__button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 14px;
  font-weight: 600;
}
.hero__button > a {
  margin: 0 8px;
}
.hero__button-orange {
  background-color: #CE7A2D;
  border: 2px solid transparent;
}
.hero__button-orange:hover {
  border-color: #ffffff;
  background-color: transparent;
}

@media screen and (max-width: 1366px) {
  .hero {
    padding: 90px 0 210px 0;
  }
  .hero__heading {
    font-size: 60px;
    margin-bottom: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .hero {
    padding: 60px 0 120px 0;
    text-align: center;
  }
  .hero__heading {
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .hero > p {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 768px) {
  .hero {
    padding: 60px 0 120px 0;
    text-align: center;
  }
  .hero__heading {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .hero > p {
    width: 100%;
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 500px) {
  .hero {
    padding: 60px 0 120px 0;
  }
  .hero__heading {
    font-size: 28px;
    margin-bottom: 18px;
  }
  .hero > p {
    font-size: 14px;
    width: 100%;
    margin-bottom: 18px;
    line-height: 24px;
  }
  .hero__button {
    font-size: 14px;
  }
  .hero__button > a {
    margin: 0 4px;
  }
}
.service {
  text-align: center;
  background-color: #262626;
  padding: 130px 0;
}
.service__heading {
  margin-bottom: 8px;
}
.service__heading-text {
  width: 615px;
  margin: 0 auto;
  line-height: 28px;
}
.service__list {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 80px;
  margin: 70px -8px 0 -8px;
}
.service__list-item {
  width: 22%;
  background-color: #2d2d2d;
  margin: 10px;
  padding: 40px;
}
.service__list-item > h4 {
  margin: 8px 0 0 0;
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
}
.service__list-item > p {
  font-size: 14px;
}

@media screen and (max-width: 1366px) {
  .service {
    padding: 110px 0;
  }
  .service__heading-text {
    width: 615px;
    margin: 0 auto;
    line-height: 28px;
  }
  .service__list {
    margin: 70px -15px 0 -15px;
  }
  .service__list-item {
    margin: 15px;
    padding: 30px;
  }
  .service__list-item > p {
    font-size: 14px;
  }
}
@media screen and (max-width: 1024px) {
  .service {
    padding: 90px 0;
  }
  .service__heading-text {
    width: 615px;
    margin: 0 auto;
    line-height: 28px;
  }
  .service__list {
    margin: 70px -15px 0 -15px;
  }
  .service__list-item {
    width: 35%;
    margin: 15px;
    padding: 30px;
  }
  .service__list-item > p {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .service {
    padding: 70px 0;
  }
  .service__heading {
    font-size: 22px;
  }
  .service__heading-text {
    width: 100%;
    margin: 0 auto;
    font-size: 14px;
  }
  .service__list {
    margin: 50px auto 0 auto;
  }
  .service__list-item {
    width: 100%;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 500px) {
  .service {
    padding: 40px 0;
  }
  .service__heading {
    font-size: 20px;
  }
  .service__heading-text {
    font-size: 14px;
    line-height: 20px;
  }
  .service__list {
    margin: 50px auto 0 auto;
  }
  .service__list-item {
    width: 100%;
    margin-bottom: 10px;
  }
  .service__list-item > h4 {
    font-size: 16px;
  }
}
.result {
  padding: 125px 0;
  background-image: url("../images/result__background-img.png");
  background-repeat: no-repeat;
  background-position: left calc(50% + 0px) top 0;
}
.result .result__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.result .result__list-item {
  text-align: center;
}
.result .result__list-item > span {
  font-size: 44px;
  font-weight: 600;
  color: #ffffff;
}
.result .result__list-item > hr {
  margin: 16px auto 16px auto;
  padding: 0;
  width: 79px;
  height: 3px;
  border: none;
  background-color: orange;
}
.result .result__list-item > p {
  margin: 5px 0px;
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  .result {
    padding: 100px 0;
    background-size: 1024px 317px;
  }
  .result .result__list-item > span {
    font-size: 40px;
  }
  .result .result__list-item > hr {
    margin: 10px auto;
    width: 70px;
  }
  .result .result__list-item > p {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  .result {
    padding: 75px 0;
    background-size: 768px 267px;
  }
  .result .result__list-item > span {
    font-size: 30px;
  }
  .result .result__list-item > hr {
    margin: 10px auto;
    width: 65px;
  }
  .result .result__list-item > p {
    font-size: 12px;
    font-weight: 400;
  }
}
@media screen and (max-width: 500px) {
  .result {
    padding: 10px 0;
    background-size: 500px 240px;
  }
  .result .result__list {
    flex-wrap: wrap;
    justify-content: center;
  }
  .result .result__list-item {
    margin: 10px;
  }
  .result .result__list-item > span {
    font-size: 30px;
  }
  .result .result__list-item > hr {
    margin: 10px auto;
    width: 65px;
  }
  .result .result__list-item > p {
    font-size: 12px;
    font-weight: 400;
  }
}
.portfolio {
  max-width: 1440px;
  text-align: center;
  margin: 0 auto;
  padding: 130px 0;
}
.portfolio > h2 {
  margin-bottom: 8px;
}
.portfolio__text {
  width: 613px;
  margin: 0 auto 80px auto;
  line-height: 28px;
}
.portfolio__img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
.portfolio__img > div {
  width: 33.333%;
  margin: 0 -1px -5px -1px;
}
.portfolio__img > div > img {
  padding: 0;
  margin: 0;
  width: 100%;
  height: auto;
}
.portfolio__img-img {
  position: relative;
}
.portfolio__img-img > div {
  position: absolute;
  bottom: 30px;
  left: 30px;
  z-index: 10;
  text-align: left;
  width: 80%;
  color: #ffffff;
}
.portfolio__img-img > div > h4 {
  font-size: 28px;
  font-weight: 600;
  margin: 0 0 16px 0;
}
.portfolio__img-img > div > p {
  line-height: 24px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .portfolio {
    padding: 80px 0;
  }
  .portfolio > h2 {
    font-size: 22px;
  }
  .portfolio__text {
    width: 80%;
    margin: 0 auto 40px auto;
  }
  .portfolio__img > div {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .portfolio {
    padding: 60px 0;
  }
  .portfolio > h2 {
    font-size: 22px;
  }
  .portfolio__text {
    width: 90%;
    margin: 0 auto 40px auto;
    font-size: 14px;
    line-height: 20px;
  }
  .portfolio__img > div {
    width: 100%;
    margin: 0 0px -5px 0px;
  }
}
.testimonials__heading {
  text-align: center;
  margin-bottom: 8px;
}
.testimonials__text {
  width: 613px;
  margin: 0 auto 80px auto;
  text-align: center;
  line-height: 28px;
}
.testimonials__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 80px;
}
.testimonials__item-info {
  box-sizing: border-box;
  width: 49%;
  background-color: #2d2d2d;
  padding: 60px;
}
.testimonials__item-info__heading {
  display: flex;
  align-items: center;
}
.testimonials__item-info__heading img {
  width: 90px;
  height: 90px;
  margin-right: 18px;
}
.testimonials__item-info__heading > span > h4 {
  margin: 0 0 8px 0;
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}
.testimonials__item-info__heading > span > p {
  margin: 0;
  color: #CE7A2D;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}
.testimonials__item-info__text {
  margin: 22px 0 22px 0;
  line-height: 28px;
}
.testimonials__circles {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.testimonials__circles > div {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 6px;
}
.testimonials__circles-all {
  background-color: #515151;
}
.testimonials__circles-third {
  background-color: #CE7A2D;
}

@media screen and (max-width: 768px) {
  .testimonials__text {
    width: 100%;
  }
  .testimonials__item {
    position: relative;
    top: 0;
    left: calc(50% - 150px);
  }
  .testimonials__item-info {
    width: 500px;
  }
  .testimonials__item-info__first {
    margin-right: 400px;
  }
}
@media screen and (max-width: 500px) {
  .testimonials__heading {
    font-size: 22px;
  }
  .testimonials__text {
    margin: 0 0 40px 0;
    font-size: 14px;
    line-height: 20px;
  }
}
.site__create {
  padding: 100px 0 130px 0;
}
.site__create .create {
  text-align: center;
  background-color: #CE7A2D;
  padding: 100px 0;
}
.site__create .create > p {
  width: 547px;
  margin: 23px auto 23px auto;
  color: #ffffff;
  line-height: 28px;
}
.site__create .create__buttons {
  display: flex;
  justify-content: center;
}
.site__create .create__buttons-transparent {
  margin-right: 16px;
  font-weight: 700;
  font-size: 14px;
}
.site__create .create__buttons-transparent:hover {
  background-color: #ffffff;
  color: #262626;
}
.site__create .create__buttons-white {
  color: #262626;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 14px;
}
.site__create .create__buttons-white:hover {
  background-color: transparent;
  color: #ffffff;
  border-color: #ffffff;
}

@media screen and (max-width: 768px) {
  .site__create {
    padding: 50px 0 70px 0;
  }
  .site__create .create > h2 {
    font-size: 28px;
  }
  .site__create .create > p {
    width: 90%;
  }
}
@media screen and (max-width: 500px) {
  .site__create {
    padding: 30px 0 50px 0;
  }
  .site__create .create {
    padding: 50px 10px;
  }
  .site__create .create > h2 {
    font-size: 22px;
    width: 95%;
    margin: 0 auto;
  }
  .site__create .create > p {
    width: 100%;
    line-height: 20px;
    font-size: 14px;
  }
}
.team {
  text-align: center;
  padding-bottom: 100px;
}
.team__heading {
  margin-bottom: 8px;
}
.team__text {
  width: 613px;
  margin: 0 auto 60px auto;
  line-height: 28px;
}
.team__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}
.team__list-item {
  width: 32%;
}
.team__list-item > img {
  width: 100%;
}
.team__list-item > h4 {
  margin: 18px 0 5px 0;
  font-weight: 600;
  font-size: 18px;
  color: #ffffff;
}
.team__list-item > span {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  .team {
    padding-bottom: 50px;
  }
  .team__heading {
    font-size: 22px;
  }
  .team__text {
    width: 100%;
    font-size: 14px;
  }
  .team__list {
    flex-direction: column;
  }
  .team__list-item {
    margin: 20px 0;
    width: 80%;
  }
  .team__list-item > h4 {
    margin: 5px 0 0 0;
  }
}
.blog {
  margin-top: 100px;
}
.blog__heading {
  text-align: center;
  margin-bottom: 8px;
}
.blog__text {
  width: 613px;
  margin: 0 auto;
  text-align: center;
  line-height: 28px;
  margin-bottom: 80px;
}
.blog__list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.blog__list-item {
  width: 32%;
}
.blog__list-item > img {
  width: 100%;
}
.blog__list-item > h4 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  margin: 20px 0 10px 0;
}
.blog__list-item > p {
  margin: 0;
  line-height: 20px;
  margin-bottom: 20px;
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .blog__heading {
    font-size: 22px;
  }
  .blog__text {
    width: 100%;
    font-size: 14px;
  }
  .blog__list-item {
    width: 32%;
  }
  .blog__list-item > img {
    width: 100%;
  }
  .blog__list-item > h4 {
    font-size: 16px;
  }
  .blog__list-item > p {
    margin: 0;
    line-height: 20px;
    margin-bottom: 20px;
    font-size: 12px;
  }
}
@media screen and (max-width: 500px) {
  .blog {
    margin-top: 60px;
  }
  .blog__list {
    text-align: center;
    flex-direction: column;
  }
  .blog__list-item {
    width: 100%;
  }
  .blog__list-item > img {
    width: 100%;
  }
  .blog__list-item > h4 {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    margin: 10px 0 10px 0;
  }
  .blog__list-item > p {
    margin: 0;
    line-height: 20px;
    margin-bottom: 40px;
    font-size: 12px;
  }
}/*# sourceMappingURL=style.css.map */