.statistics {
  background-color: $ink;
  
  .statistic {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    &__img {
      width: 710px;
      margin-left: -190px;
      margin-right: 140px;

      >img {
        width: 100%;
      }
    }

    &__info {
      width: 456px;
      
      >h2 {
        margin-bottom: 24px;
      }

      >p {
        width: 408px;
        margin-bottom: 32px;
        line-height: 2;
      }
    }
  }
}