@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/rubik-v12-latin-regular.woff2") format("woff2"), url("../fonts/rubik-v12-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/rubik-v12-latin-500.woff2") format("woff2"), url("../fonts/rubik-v12-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/rubik-v12-latin-600.woff2") format("woff2"), url("../fonts/rubik-v12-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/rubik-v12-latin-700.woff2") format("woff2"), url("../fonts/rubik-v12-latin-700.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/inter-v3-latin-regular.woff2") format("woff2"), url("../fonts/inter-v3-latin-regular.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/inter-v3-latin-500.woff2") format("woff2"), url("../fonts/inter-v3-latin-500.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/inter-v3-latin-600.woff2") format("woff2"), url("../fonts/inter-v3-latin-600.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/inter-v3-latin-700.woff2") format("woff2"), url("../fonts/inter-v3-latin-700.woff") format("woff");
}
html {
  font-size: 100%;
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-size: 14px;
  font-weight: 400;
  min-height: 300vh;
  color: #ffffff;
}

h1, h2, h3 {
  margin: 0;
  padding: 0;
  font-weight: 500;
  line-height: 1.15;
  font-size: 38px;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.5;
  color: #E0E0E0;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 1360px;
  padding: 0 120px;
  margin: 0 auto;
  overflow-x: hidden;
}

.button {
  display: flex;
  width: 150px;
  height: 55px;
  justify-content: center;
  align-items: center;
  background-color: #3671E9;
  color: #ffffff;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  font-family: 500;
  border-radius: 32px;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #02099d;
}

@media (max-width: 1023px) {
  .navbar__hamburger {
    display: inherit !important;
  }

  .navbar__main {
    display: none;
  }
}
.header {
  background-color: #0D0D2B;
  min-height: 1160px;
  background-image: url("../images/hero__background-large.svg"), url("../images/hero__background-small.svg"), url("../images/results__background-d.svg");
  background-repeat: no-repeat;
  background-position: right calc(50% + 50px) top 400px, left calc(50% + 350px) top 430px, left calc(50% + 700px) top 950px;
}
.header .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
}
.header .navbar__logo-img {
  width: 125px;
  height: 35px;
}
.header .navbar__main .navbar__content {
  display: flex;
  align-items: center;
}
.header .navbar__main .navbar__content-list {
  display: flex;
}
.header .navbar__main .navbar__content-list > li:not(:last-child) {
  margin-right: 32px;
}
.header .navbar__main .navbar__content-list > li > a {
  color: #ffffff;
  transition: color 0.3s ease-in-out;
}
.header .navbar__main .navbar__content-list > li > a:hover {
  color: #3671E9;
}
.header .navbar__main .navbar__content-links {
  display: flex;
  align-items: center;
}
.header .navbar__main .navbar__content-links > .navbar__link {
  margin-left: 56px;
  margin-right: 24px;
  padding: 3px 24px 3px 0;
  color: #ffffff;
  border-right: 1px solid rgba(255, 255, 255, 0.4);
  transition: color 0.3s ease-in-out;
}
.header .navbar__main .navbar__content-links > .navbar__link:hover {
  color: #3671E9;
}
.header .navbar__main .navbar__content-links > .button {
  width: 125px;
  height: 45px;
  border-radius: 32px;
}
.header .navbar__hamburger {
  display: none;
}
.header .navbar__hamburger-flex {
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
.header .navbar__hamburger-flex:hover > span {
  background-color: #02099d;
}
.header .navbar__hamburger-flex span {
  width: 30px;
  height: 4px;
  background-color: #3671E9;
}
.header .navbar__hamburger-flex span:not(:last-child) {
  margin-bottom: 5px;
}

.header__hero .hero {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.header__hero .hero__info {
  width: 588px;
  height: 468px;
  margin-top: 120px;
}
.header__hero .hero__info-top {
  display: flex;
  align-items: center;
  width: 365px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 32px;
}
.header__hero .hero__info-top__save {
  margin: 4px 16px 4px 4px;
  padding: 4px 16px;
  background-color: #ffffff;
  color: #0D0D2B;
  font-weight: 500;
  border-radius: 32px;
}
.header__hero .hero__info-top__friday {
  color: #ffffff;
}
.header__hero .hero__info > h1 {
  margin: 24px 0;
  font-size: 56px;
}
.header__hero .hero__info-par {
  width: 435px;
  color: #E0E0E0;
  margin-bottom: 32px;
}
.header__hero .hero__info > a {
  width: 202px;
  font-size: 16px;
}
.header__hero .hero__info > a > img {
  margin-left: 24px;
}
.header__hero .hero__img {
  margin-top: 45px;
}
.header__hero .hero__img-main {
  top: 0;
  left: 0;
  position: relative;
  width: 604px;
  height: 585px;
}
.header__hero .hero__img-rect__large {
  top: 400px;
  left: 400px;
  position: absolute;
}
.header__hero .hero__img-rect__small {
  top: 600px;
  left: 600px;
  position: absolute;
}

.results {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 200px;
}
.results__item {
  display: flex;
  justify-content: center;
  width: 334px;
  margin: auto;
}
.results__item-img {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 24px;
}
.results__item-img > img {
  padding: 16px 18px;
}
.results__item-info > p {
  margin-top: 5px;
  color: #E0E0E0;
}

.features {
  background-color: #0D0D2B;
  min-height: 580px;
  background-image: url("../images/features__background-u.svg"), url("../images/features__background-rect.svg");
  background-repeat: no-repeat;
  background-position: left calc(50% + 680px) top 360px, right calc(50% + 490px) top 140px;
}
.features .feature {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.features .feature__info {
  width: 480px;
}
.features .feature__info h2 {
  margin-bottom: 24px;
}
.features .feature__info p {
  width: 370px;
  color: #E0E0E0;
  margin-bottom: 32px;
}

.earn {
  position: relative;
  padding: 100px 0 219px 0;
  background-color: #0D0D2B;
  margin: auto;
}
.earn__info {
  width: 741px;
  margin: 0 auto;
}
.earn__info-heading {
  margin-bottom: 24px;
  text-align: center;
}
.earn__info-text {
  font-size: 16px;
  margin: 0 auto;
  width: 622px;
  text-align: center;
}
.earn__form {
  position: absolute;
  top: 282px;
  left: 278px;
  width: 942px;
  background-color: #ffffff;
  border-radius: 20px;
  margin: 0 auto;
  padding-bottom: 48px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.earn__form-input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FBFCFE;
  padding: 48px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.earn__form-input > input {
  outline: none;
  width: 403px;
  height: 48px;
  border: none;
  border-bottom: 2px solid #E0E0E0;
  padding-left: 15px;
  color: #0D0D2B;
  font-size: 18px;
  font-weight: 500;
}
.earn__form-input > input::-moz-placeholder {
  color: #0D0D2B;
  font-size: 18px;
  font-weight: 500;
}
.earn__form-input > input:-ms-input-placeholder {
  color: #0D0D2B;
  font-size: 18px;
  font-weight: 500;
}
.earn__form-input > input::placeholder {
  color: #0D0D2B;
  font-size: 18px;
  font-weight: 500;
}
.earn__form-input > select {
  outline: none;
  width: 200px;
  height: 48px;
  padding-left: 15px;
  color: #0D0D2B;
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-bottom: 2px solid #E0E0E0;
}
.earn__form-info > h5 {
  padding-top: 48px;
  padding-left: 48px;
  color: #3671E9;
  font-size: 14px;
  margin: 0;
}
.earn__form-info > h3 {
  padding-left: 48px;
  margin: 0;
  font-size: 30px;
  color: #0D0D2B;
  font-weight: 700;
  margin: 16px 0 4px 0;
}
.earn__form-info > h3 > span {
  color: #3671E9;
}
.earn__form-info > p {
  color: #828282;
  padding-left: 48px;
}

.trade {
  background-color: #F8F9FC;
  padding-top: 316px;
}
.trade__heading {
  width: 741px;
  color: black;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 64px;
}
.trade__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}
.trade__list .trade__item {
  margin-bottom: 100px;
  width: 370px;
  height: 320px;
  text-align: center;
  border-radius: 16px;
  padding: 60px 0;
  transition: transform 0.3s ease-in-out;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.trade__list .trade__item:hover {
  transform: scale(1.05);
}
.trade__list .trade__item > span img {
  margin-bottom: 48px;
}
.trade__list .trade__item__heading {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}
.trade__list .trade__item__heading > h3 {
  font-size: 30px;
  margin-right: 8px;
}
.trade__list .trade__item__heading > h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  opacity: 0.7;
}
.trade__list .trade__item > p {
  width: 318px;
  height: 64px;
  margin: 0 auto 25px auto;
}
.trade__list .trade__item > a > img {
  padding-left: 10px;
}
.trade__list .trade__one-item {
  background-color: #2B076E;
}
.trade__list .trade__one-item a {
  margin: 0 auto;
}
.trade__list .trade__second-item {
  background-color: #ffffff;
}
.trade__list .trade__second-item__heading > h3 {
  color: #0D0D2B;
}
.trade__list .trade__second-item__heading > h4 {
  color: #BDBDBD;
}
.trade__list .trade__second-item p {
  color: #828282;
}
.trade__list .trade__third-item {
  background-color: #ffffff;
}
.trade__list .trade__third-item__heading > h3 {
  color: #0D0D2B;
}
.trade__list .trade__third-item__heading > h4 {
  color: #BDBDBD;
}
.trade__list .trade__third-item p {
  color: #828282;
}
.trade__list .trade__third-item .growth__link {
  border: 1px solid red;
}
.trade__list .trade__third-item .growth__link img {
  padding: 20px;
}

.market {
  background-color: #2B076E;
  min-height: 800px;
}
.market h2 {
  width: 758px;
  text-align: center;
  margin: 100px auto 0 auto;
}
.market__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.market__list-info {
  width: 454px;
}
.market__list-info > h3 {
  font-size: 30px;
  margin-bottom: 24px;
}
.market__list-info > p {
  width: 350px;
  margin-bottom: 32px;
}
.market__list-img {
  position: relative;
  width: 500px;
  background-color: #35068C;
  padding: 40px 40px 208px 40px;
  margin: 100px 0 220px 0;
}
.market__list-img .market__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.market__list-img .market__item-top {
  display: flex;
  align-items: start;
}
.market__list-img .market__item-top > img {
  margin-right: 16px;
}
.market__list-img .market__item-top > span h4 {
  margin: 0;
  font-size: 22px;
  margin-bottom: 4px;
  margin-right: 8px;
}
.market__list-img .market__item-top > span h5 {
  margin: 0;
  font-size: 12px;
  color: #F2F2F2;
  font-weight: 400;
}
.market__list-img .market__item-top > p {
  font-size: 600;
  font-size: 14px;
  color: #CFCFCF;
  opacity: 0.7;
}
.market__list-img .market__item .market__item-num > p {
  color: #42FFFF;
}
.market__list-img .market__item-top__img-line {
  position: absolute;
  top: 120px;
  left: 38px;
}
.market__list-img .market__item-top__img-trade {
  position: absolute;
  top: 240px;
  left: 70px;
}
.market__list-img .market__item-top__img-price {
  position: absolute;
  top: 230px;
  left: 330px;
}

.statistics {
  background-color: #2B076E;
}
.statistics .statistic {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.statistics .statistic__img {
  width: 710px;
  margin-left: -190px;
  margin-right: 140px;
}
.statistics .statistic__img > img {
  width: 100%;
}
.statistics .statistic__info {
  width: 456px;
}
.statistics .statistic__info > h2 {
  margin-bottom: 24px;
}
.statistics .statistic__info > p {
  width: 408px;
  margin-bottom: 32px;
  line-height: 2;
}/*# sourceMappingURL=style.css.map */